<div class="message_board_title_lg">Event Details</div>
<div class="message_board_lg base_font">

    <table class="stardew_table">
        <tr><td class="stardew_label">Event Id</td><td class="stardew_data">#ID#</td></tr>
        <tr><td class="stardew_label">Name</td><td class="stardew_data">#NAME#</td></tr>
        <tr><td class="stardew_label">Seen</td><td class="stardew_data">#SEEN#</td></tr>
        <tr><td class="stardew_label">NPC</td><td class="stardew_data"><a href="/Friends?id=#NPC#">#NPC#</a></td></tr>
        <tr><td class="stardew_label">Location</td><td class="stardew_data">#LOCATION#</td></tr>
        <tr><td class="stardew_label">Results</td><td class="stardew_data">#RESULTS#</td></tr>
        <tr><td class="stardew_label">Conditions</td><td class="stardew_data">#CONDITIONS#</td></tr>
        <tr><td class="stardew_label">Can See</td><td class="stardew_data">#CANSEE#</td></tr>
    </table>
</div>