<!DOCTYPE html>
<html lang="en">
<head>
    #HEAD#
    <script>
        function SetImage() {
            var e = document.getElementById("npcs");
            document.getElementById("npcimage").src = "/Asset?asset=FramedSprite%2f" + e.value;
        }
        function WarpStudio(iMode, oParam) {

            switch (iMode) {
                case 0:
                    var iNMode = GetRadioButtonValue("npcwarp");
                    var e = document.getElementById("npcs");

                    if (iNMode !== null) {
                        switch (iNMode) {
                            case "wntm":  // warp npc to me
                                RunDebugCommand('wctm ' + e.value);
                                break;
                            case "wmtn":    // warp me to npc
                                RunDebugCommand('wtc ' + e.value);
                                break;
                            case "wnt":
                                var loc = document.getElementById("locs").value;
                                var locx = document.getElementById("xloc").value;
                                var locy = document.getElementById("yloc").value;
                                RunDebugCommand('wct ' + e.value + ' ' + loc + ' ' + locx + ' ' + locy + ' 1');
                                break;
                        }
                    }

                    break;
                case 1:
                    RunDebugCommand('ws ' + oParam);
                    break;
                case 2:
                    var ploc = document.getElementById("plocs").value;
                    var plocx = document.getElementById("xploc").value;
                    var plocy = document.getElementById("yploc").value;
                    WarpTo(ploc, plocx, plocy);
                    break;
                case 3:
                    var pMode = GetRadioButtonValue("playerwarp");
                    switch (pMode) {
                        case "mts":
                            //RunDebugCommand('mts');
                            break;
                        case "stm":
                            RunDebugCommand('pstm');
                            break;
                        case "mtnpc": //me to NPC;
                            var ePlayerNPC = document.getElementById("playernpcs");
                            RunDebugCommand('wtc ' + ePlayerNPC.value);
                            break;
                        case "mtloc": //me to location
                            var ploc = document.getElementById("plocs").value;
                            var plocx = document.getElementById("xploc").value;
                            var plocy = document.getElementById("yploc").value;
                            WarpTo(ploc, plocx, plocy);
                            break;
                    }
                    break;
                case 4:
                    switch (oParam) {
                        case "u":
                            RunDebugCommand('moveup');
                            break;
                        case "r":
                            RunDebugCommand('moveright');
                            break;
                        case "d":
                            RunDebugCommand('movedown');
                            break;
                        case "l":
                            RunDebugCommand('moveleft');
                            break;

                    }

            }


        }

        function GetRadioButtonValue(sGroupName) {
            var ele = document.getElementsByName(sGroupName);

            for (i = 0; i < ele.length; i++) {
                if (ele[i].checked)
                    return ele[i].value;
            }

            return null;
        }

    </script>
</head>
<body onload="SubPageLoaded('Cheats','Warps');">

    #MENUBAR#
    <div class="stardew_container top_margin_50 med_bottom_pad">
        #CONTENT#
    </div>

</body>
</html>