<script>
    var strStopTime = "Stop Time";
    var strStartTime = "Start Time";


</script>

<nav class="navbar navbar-dark bg-dark fixed-top" role="navigation" style="height:110px;">
    <table style="height:55px;">
        <tr>
            <td>
                <div class="navbar-header" style="padding: 8px 0px 3px 5px; overflow-x:auto;">
                    <a class="navbar-brand" href="/"><span data-bind="text: Name" style="font-family: stardewwood; font-size: 36pt;color: orange; white-space:nowrap">Stardew Web</span></a>
                </div>
            </td>

            <td>
                <div id="navbar" class="">
                    <table>
                        <tr>
                            <td>
                                <ul class="nav">
                                    #NAVBARITEMS#
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul class="nav">
                                    #SUBBARITEMS#
                                </ul>
                            </td>
                        </tr>
                    </table>
                </div>

            </td>
        </tr>
    </table>
    <div class="status_bar" style="display: inline-block; width:100%;">
    #REMOTE#
        #NAVBUTTONS#
        <div class="hud_label_inline">Current Balance</div><div class="hud_data_inline" style="width: 100px;" id="hud_balance">#MONEY#</div>
        <div class="hud_label_inline">Year</div><div class="hud_data_inline" id="hud_year">#YEAR#</div>
        <div class="hud_label_inline">Season</div><div class="hud_data_inline" style="width: 60px;" id="hud_season">#SEASON#</div>
        <div class="hud_label_inline">Day</div><div class="hud_data_inline" id="hud_daytext">#DAYDATE#</div>
        <div class="hud_label_inline">Time</div><div class="hud_data_inline" style="width: 80px;" id="hud_tod">#TOD#</div>
        <div class="hud_label_inline" id="hud_warn">#WARN#</div>
        #SEARCH#
        #GINGER#
    </div>
</nav>
<div class="popuptext base_font" id="myPopup" onclick="ClosePopup();" style="padding:20px; z-index:99100000;"><div id="popuptext" style="height:120px;overflow:auto;"></div><button onclick="ClosePopup();">Ok</button></div>
<div class="container" style="max-width: 820px;">
    <div class="search_div base_font" id="myLookup" style="padding:20px; cursor:default;position:fixed; background-image:url(/images/search_with_details.png);z-index:999999;">
        <div style="padding-top:10px; padding-right:2px;">

            <div class="search_container">
                <button class="search_close_button" onclick="CloseLookup();">Close</button>
                <div class="search_text">
                    Item to search for: <input type="text" size="30" id="lookupquery" placeholder="Use an '*' for wild card search" />
                    <button onclick="QueryForItem();">Search</button><button onclick="GetPreviousPage();" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif"><</button><button onclick="GetNextPage();" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">></button>
                </div>
            </div>
        </div>
        <img src="/images/wait.gif" id="waitgif" class="search_busy" title="Search Busy Iamge" />
        <div id="lookuptext" class="search_results">
        </div>
    </div>
</div>
<div class="container" id="remote" style="visibility: hidden; font-size: .80em; color: white; padding: 60px 30px 50px 30px; width: 170px; height: 400px; background-image: url(/images/remote-small.png); z-index: 999999; position: absolute; top: 130px; left: 10px; ">
    <img src="/images/setup_wrench.png" style="width:20px; height:20px; position:absolute; left:120px; top:55px;" class="border-0" />
    #REMOTEACTS#
</div>