<div class="row">
    <div class="col">
        <div class="container stardew_round_border m-1 p-1 color_2nd_tier_bg">
            <div class="row">
                <div class="col-1">#ID#</div>
                <div class="col-11 p-2">
                    <div class="container">
                        <div class="row">
                            <div class="col-6 stardew_label_bs m-1 right color_2nd_tier_label_bg">Direction</div>
                            <div class="col-5 stardew_data_bs">#DIRECTION#</div>
                        </div>
                        <div class="row">
                            <div class="col-6 stardew_label_bs m-1 right color_2nd_tier_label_bg">End of Route Behaviour</div>
                            <div class="col-5">#BEHAVIOUR#</div>
                        </div>
                        <div class="row">
                            <div class="col-6 stardew_label_bs m-1 right color_2nd_tier_label_bg">End of Route Message</div>
                            <div class="col-5">#MESSAGE#</div>
                        </div>
                        <div class="row">
                            <div class="col-12 stardew_label_bs m-1">Route</div>
                        </div>
                        <div class="row">
                            <div class="col-12 stardew_round_border color_3rd_tier_bg" style="height:100px;overflow:auto;">#ROUTE#</div>
                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>
</div>
<!--
<tr>
    <td class="stardew_data" style="vertical-align:top;">#ID#</td>
    <td>
        <table class="stardew_table" style="width:100%;">
            <tr>
                <td class="stardew_label">Direction</td>
                <td class="stardew_data">#DIRECTION#</td>


            </tr>
            <tr>
                <td class="stardew_label">End of Route Behaviour</td>
                <td class="stardew_data">#BEHAVIOUR#</td>
            </tr>
            <tr>
                <td class="stardew_label">End of Route Mesage</td>
                <td class="stardew_data">#MESSAGE#</td>
            </tr>
            <tr><td colspan="2" class="stardew_label">Route</td></tr>
            <tr>
                <td class="stardew_data" style="width:150px;" colspan="2"><div style="height:100px;overflow:auto;width:100%;">#ROUTE#</div></td>
            </tr>
        </table>
    </td>
</tr>
    -->
