<div class="container color_top_columns_bg base_font_flex stardew_round_border">
    <div class="row">
        <div class="col-3">Name</div>
        <div class="col-2 stardew_round_border color_2nd_tier_bg">#NAME#</div>
        <div class="col-2">Gender</div>
        <div class="col-1 stardew_round_border color_2nd_tier_bg" ">#GENDER#</div>
        <div class="col-2">Birthday</div>
        <div class="col-2 stardew_round_border color_2nd_tier_bg" ">#BIRTHSEASON# #BIRTHDAY#</div>
    </div>
    <div class="row">
        <div class="col-3">Is Vanilla</div>
        <div class="col-2 stardew_round_border color_2nd_tier_bg" ">#VANILLA#</div>
        <div class="col-2">Type</div>
        <div class="col-1 stardew_round_border color_2nd_tier_bg" ">#TYPE#</div>
        <div class="col-2">Can Marry</div>
        <div class="col-2 stardew_round_border color_2nd_tier_bg" ">#MARRY#</div>
    </div>
    <div class="row">
        <div class="col-3">Current Schedule</div>
        <div class="col-2 stardew_round_border color_2nd_tier_bg" ">#SCHEDNAME#</div>
        <div class="col-2">Uses Schedule</div>
        <div class="col-1 stardew_round_border color_2nd_tier_bg" ">#FOLLOW#</div>
        <div class="col-2">Home Region</div>
        <div class="col-2 stardew_round_border color_2nd_tier_bg" ">#HREGION#</div>
    </div>
    <div class="row">
        <div class="col-3">Portrait Name</div>
        <div class="col-5 stardew_round_border color_2nd_tier_bg" ">#PORTNAME#</div>
        </div>
    <div class="row">
        <div class="col-3">Texture Name</div>
        <div class="col-5 stardew_round_border color_2nd_tier_bg" ">#TEXTNAME#</div>
        <div class="col-2 p-1 offset-2"><button onclick="RunDebugCommand('wtc #NAME#');">Warp To</button></div>
    </div>
</div>
<div class="message_board_title_flex">Events</div>
<div class="container base_font_flex">
    <div style="height:300px;overflow:auto;">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Event Name</th>
                    <th>Location</th>
                    <th>Hearts</th>
                    <th>Id</th>
                </tr>
            </thead>
            <tbody>
                #EVENTS#
            </tbody>
        </table>
    </div>
</div>
<div class="message_board_title_flex">Schedule</div>
<div class="container base_font_flex">
    <div style="height:300px;overflow:auto;">
        <table class="table table-striped" style="font-family: Arial;">
            <thead>
                <tr>
                    <th>Key</th>
                    <th>Content</th>
                </tr>
            </thead>
            <tbody>
                #SCHEDULE#
            </tbody>
        </table>
    </div>
</div>
<div class="message_board_title_flex">Dialogue</div>
<div class="container base_font_flex">
    <div style="height:300px;overflow:auto;">
        <table class="table table-striped" style="font-family: Arial;">
            <thead>
                <tr>
                    <th>Key</th>
                    <th>Content</th>
                </tr>
            </thead>
            <tbody>
                #DIALOGUE#
            </tbody>
        </table>
    </div>
</div>
