<div class="message_board_title_flex">NPC Current Location</div>
<div class="message_paper_board_full base_font" style="padding-top:140px;padding-bottom:140px;">
    <div style="height: 500px; overflow:auto">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>NPC</th>
                    <th>Location</th>
                 </tr>
            </thead>
            <tbody>
                #ROWS#
            </tbody>
        </table>
    </div>
</div>
