.color_text {
    color: #111010;
}

.color_header_bg {
    background-color: #d8adb6!important;
}

.color_top_columns_bg {
    background-color: #AA9988!important;
}

.color_2nd_tier_bg {
    background-color: #eae6e3!important;
}

.color_2nd_tier_label_bg {
    background-color: #eeffff !important;
}

.color_3rd_tier_bg {
    background-color: #ddddaa !important;
}

.color_bg_exp_land{
    background-color: #888811;
}

.color_bg_exp_land_empty{
    background-color:#DDDDAA;
}

.color_bg_exp_land_occ {
    background-color: #F2DADF;
}