@font-face {
    font-family: chango;
    src: url(../fonts/Chango-Regular.ttf);
}

@font-face {
    font-family: stardew;
    src: url(../fonts/Stardew_Valley.ttf);
}

@font-face {
    font-family: stardewwood;
    src: url(../fonts/Stardew_Valley_Wood-Regular.ttf);
}


html {
}

body {
    background-image: url('/images/backgrounds/#BACKGROUND#');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.stardew_container {
    width: 90%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.friend_td {
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.58);
    border: 2px solid transparent;
    margin: 2px;
    background-clip: padding-box;
}

.taste_div {
    height: 120px;
    width: 100%;
    overflow: auto;
}

.med_top_pad {
    padding-top: 30px;
}

.med_bottom_pad {
    padding-bottom: 30px;
}

.data_td {
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.58);
    border: 2px solid transparent;
    margin: 2px;
    background-clip: padding-box;
}

.center {
    text-align: center !important;
}

.left {
    text-align: left !important;
}

.top {
    vertical-align: top;
}

.right {
    text-align: right !important;
}

.inline {
    display: inline-block !important;
}

.center_table {
    margin-left: auto;
    margin-right: auto;
}

.friend_th {
    font-family: Tahoma;
    font-size: 14pt;
    font-weight: 500;
    background-color: #03A007;
    border: 1px solid transparent;
    background-clip: padding-box;
}

.white {
    color: #ffffff;
}

.brown1 {
    color: #a24d10;
}

.shipping_red {
    color: red;
}

.shipping_green {
    color: green;
}

.shipping_blue {
    color: blue;
}

.gamedetails_td {
    padding: 5px;
}

a.navbar_link {
    padding: unset !important;
    padding-right: 8px !important;
    color: lightgray;
}

    a.navbar_link:hover {
        padding: unset !important;
        padding-right: 8px !important;
        color: yellow;
        text-decoration: none;
    }

.sectionhead {
    font-family: "Open Sans", sans-serif;
    font-size: 28px;
    font-weight: 400;
    border-bottom: 1px solid rgb(170, 170, 170);
    margin-bottom: 7px;
    color: white;
}

.backgroundoverlay {
    background: rgba(255,255,255,0.3);
    height: 100%;
}

.top_margin_50 {
    margin-top: 80px;
}

.task_type {
    font-family: stardew;
    font-size: 24pt;
    width: 100%;
    padding: 5px 5px 0px 5px;
    border-bottom: 1px solid black;
}

.task_list {
    width: 100%;
    height: 200px;
    overflow: auto;
    font-family: stardew;
    font-size: 20pt;
    padding-top: 5px;
}

.base_font {
    font-family: stardew,'Times New Roman', Times, serif;
    font-size: 20pt;
}

@media screen and (max-width: 575px) {
    .base_font_flex {
        font-size: .8rem;
        font-family: stardew,'Times New Roman', Times, serif;
    }
}

@media screen and (min-width: 576px) {
    .base_font_flex {
        font-size: 1.0rem;
        font-family: stardew,'Times New Roman', Times, serif;
    }
}

@media screen and (min-width: 768px) {
    .base_font_flex {
        font-size: 1.2rem;
        font-family: stardew,'Times New Roman', Times, serif;
    }
}

@media screen and (min-width: 992px) {
    .base_font_flex {
        font-size: 1.4rem;
        font-family: stardew,'Times New Roman', Times, serif;
    }
}

@media screen and (min-width: 1200px) {
    .base_font_flex {
        font-size: 1.6rem;
        font-family: stardew,'Times New Roman', Times, serif;
    }
}

@media screen and (min-width: 1400px) {
    .base_font_flex {
        font-size: 1.8rem;
        font-family: stardew,'Times New Roman', Times, serif;
    }
}




.no_border {
    border: none !important;
}

.stardew_table {
    /* background-color: #fa9305;*/
    border-spacing: 0px;
    border-collapse: separate;
    /*  border: 3px solid #ab3b00;*/
}

.stardew_furniture_td {
    width: 300px;
    height: 200px;
}

.stardew_furniture_img {
    margin: auto;
}

.stardew_number {
    text-align: left;
    padding-left: 10px;
}

.stardew_table_filled {
    background-color: #fa9305;
    border-spacing: 4px;
    border-collapse: separate;
    border: 3px solid #ab3b00;
}

.stardew_header {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16pt;
    color: #5c4402;
    background-color: #fa9305;
    font-weight: 600;
    padding: 5px;
    border: 2px solid #ab3b00;
}

.stardew_row {
    border: 2px solid #ab3b00;
    padding: 5px;
    background-color: navajowhite; /* #f5b565;*/
    font-family: stardew,'Times New Roman', Times, serif;
    font-size: 18pt;
}

.stardew_data {
    padding: 2px 5px 2px 5px;
    background: tan; /*rgba(245, 181, 101, 0.78);*/
    font-family: stardew,'Times New Roman', Times, serif;
    border: 2px solid #ab3b00;
    font-size: 20pt;
    border-radius: 10px;
}

.stardew_round_border {
    border: 2px solid #ab3b00;
    border-radius: 10px;
}

.stardew_data_bs {
    font-family: stardew,'Times New Roman', Times, serif;
    font-size: 20pt;
}

.guild_data {
    padding: 2px 5px 2px 5px;
    background: tan; /*rgba(245, 181, 101, 0.78);*/
    font-family: stardew,'Times New Roman', Times, serif;
    border: 2px solid brown;
    font-size: 20pt;
    border-radius: 10px;
    margin: 4px;
    display: inline-block;
    width: 245px;
}

.stardew_char_port {
    margin: 10%;
}

.stardew_label {
    padding: 2px 5px 2px 5px;
    border: 2px solid transparent;
    margin: 2px;
    background-clip: padding-box;
    font-size: 20pt;
    font-family: stardew,'Times New Roman', Times, serif;
    color: #5c4402;
    font-weight: 400;
    background-color: #fa9305;
}

.stardew_label_bs {
    font-size: 20pt;
    font-family: stardew,'Times New Roman', Times, serif;
    color: #5c4402;
    font-weight: 400;
}


.stardew_border {
    border: 2px solid #ab3b00;
}

.status_bar {
    background-color: black;
    color: white;
    padding: 5px 5px 5px 20px;
}

.hud_label {
    padding: 0px 5px 0px 15px;
    text-align: center;
    box-sizing: content-box;
}

.hud_label_inline {
    padding: 0px 5px 0px 15px;
    text-align: center;
    box-sizing: content-box;
    display: inline-block;
}

.hud_label_inline_right {
    padding: 0px 5px 0px 15px;
    text-align: center;
    box-sizing: content-box;
    display: block;
    float: right;
}

.hud_data {
    padding: 0px 5px 0px 5px;
    height: 20px;
    text-align: center;
    min-width: 30px;
    background-color: #595959;
    border-top: 1px solid #737373;
    border-right: 1px solid #737373;
    border-bottom: 1px solid #999999;
    border-left: 1px solid #999999;
    box-sizing: content-box;
}

.hud_data_inline {
    padding: 0px 5px 0px 5px;
    height: 20px;
    text-align: center;
    min-width: 30px;
    background-color: #595959;
    border-top: 1px solid #737373;
    border-right: 1px solid #737373;
    border-bottom: 1px solid #999999;
    border-left: 1px solid #999999;
    box-sizing: content-box;
    display: inline-block;
}

.hud_warp_button {
    padding-right: 10px;
    color: #f7ef7c;
    padding-left: 12px;
}

    .hud_warp_button:hover {
        cursor: pointer;
        color: #8aaff2;
    }

.submenu-bar {
    width: 100%;
    overflow: hidden
}

.submenu-black {
    color: #fff !important;
    background-color: #000 !important
}

.submenu-bar .submenu-bar-item {
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0
}

.submenu-bar-button {
    width: 100%;
    text-align: left;
    padding: 8px 16px;
    white-space: normal;
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


    .submenu-bar-button:disabled {
        cursor: not-allowed;
        opacity: 0.3
    }

.w3-disabled *, :disabled * {
    pointer-events: none
}

.submenu-bar-button:hover {
    color: #000 !important;
    background-color: #ccc !important
}

.submenu-bar-container {
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.58);
    border: 2px solid transparent;
    margin: 2px;
    background-clip: padding-box;
}

    .submenu-bar-container:after, .submenu-bar-container:before {
        content: "";
        display: table;
        clear: both
    }

.shipping-sub-header {
    font-weight: 600;
    text-decoration: underline;
}

.check_box {
    width: 24px;
    height: 24px;
}

.wallet_content {
    width: 24px;
}

.skill_icon {
    width: 24px;
    height: 24px;
}

.skills_data {
    padding-left: 10px;
    vertical-align: middle;
}

.shipping_banner {
    padding-bottom: 10px;
    padding-top: 10px;
}

.bundle_div {
    width: 100%;
}

.bundle_item {
    text-align: left;
    padding: 5px;
}

.bundle_checkbox {
    vertical-align: top;
}

.fixed_header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.item_link {
    color: black;
}

.warp_button {
    width: 140px;
    text-align: center;
}

.warp_link {
    text-decoration: underline;
    cursor: zoom-in;
    display: inline-block;
}

    .warp_link:hover {
        color: cadetblue;
        cursor: zoom-in;
    }

.popup {
    position: absolute;
    top: 48%;
    left: 45%;
    visibility: hidden;
    cursor: pointer;
}

.chicken_image {
    height: 64px;
    width: 64px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.animal_image {
    height: 96px;
    width: 96px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 10px 20px 30px;
}

.lookup_data {
    border: 1px solid black;
}

.popuptext {
    visibility: hidden;
    width: 400px;
    height: 200px;
    background-color: #555;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 100000;
    background-image: url('/images/popup_message_board.png');
    background-size: auto;
    /*
    top: 48%;
    left: 45%;
        */
    cursor: pointer;
}

.popup1 .popuptext1::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.search_close_button {
    position: absolute;
    top: 25px;
    left: 710px;
}

.search_banner {
    position: absolute;
    left: 35px;
    top: 29px;
    width: 758px;
    display: block;
    opacity: 0.6;
    margin-top: -7px;
}

.search_container {
    width: 758px;
    padding-top: 45px;
    margin-left: 15px;
    /* background-color: azure;*/
    padding-bottom: 10px;
    margin-top: -10px;
}

.search_title {
    position: absolute;
    top: 42px;
    left: 50px;
    color: coral;
    font-size: 24pt;
    margin-top: -15px;
}

.search_detail_box {
    padding: 10px;
    min-height: 100%;
}

.search_text {
    text-align: left;
    padding-left: 5px;
}

.search_busy {
    display: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    position: relative;
    z-index: 20;
}

.search_results1 {
    margin: 5px 20px 5px 17px;
}


.search_results {
    position: absolute;
    top: 110px;
    height: 480px;
    width: 759px;
    overflow: auto;
    /* border: 1px solid black;*/
    /* background-color: white;*/
    padding: 0px;
    margin: 5px 20px 5px 17px;
}

.search_div {
    visibility: hidden;
    width: 820px;
    height: 620px;
    background-color: transparent;
    color: black;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 10000;
    background-image: url('/images/lookup.png');
    background-size: cover;
    top: 100px;
    left: 100px;
    cursor: pointer;
}

.showpop {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

.collection_fish {
    padding-left: 10px;
    width: 32px;
    height: 32px;
}

.showlookup {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}


.config_table_details {
    border: 2px solid black;
    padding: 3px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

.config_setting_details {
    text-align: center;
    padding: 4px;
    border: 1px solid black;
    vertical-align: top;
}

.config_value_details {
    text-align: left;
    padding: 4px;
    border: 1px solid black;
}

.config_width {
}

.config_table {
    padding: 5px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

.config_section_head {
    text-align: center;
    padding: 4px;
    vertical-align: top;
    font-size: 24pt;
    border-bottom: 1px solid black;
}

.config_products {
    padding: 5px;
    text-align: right;
}

.config_setting {
    text-align: right;
    padding: 4px;
    vertical-align: top;
    width: 35%;
}

.config_value {
    text-align: left;
    padding: 4px;
    width: 15%;
}

.stardew_alpha_header {
    width: 100%;
    border-bottom: 1px solid black;
    font-family: stardew,'Times New Roman', Times, serif;
    font-size: 20pt;
}


.export_key {
    border: 1px solid black;
    padding: 5px;
}

.export_value {
    border: 1px solid black;
    padding: 5px;
    width: 600px;
}

.disp_single_column {
    width: 620px;
}

.message_board {
    background-image: url('/images/message_board.png');
    margin: 5px;
    background-size: 100% 100%;
    padding: 35px 35px 30px 50px;
    display: inline-flex;
    width: 600px;
}

.message_cork_board {
    background-image: url('/images/message_cork_board.png');
    margin: 5px;
    background-size: 100% 100%;
    padding: 35px 35px 30px 50px;
    display: inline-flex;
    width: 600px;
}

.message_paper_board {
    background-image: url('/images/message_board_paper.png');
    margin: 5px;
    background-size: 100% 100%;
    padding: 35px 35px 30px 50px;
    /*   display: inline-flex;*/
    width: 600px;
}

.message_board_lg {
    background-image: url('/images/message_board.png');
    margin: 5px;
    background-size: 100% 100%;
    padding: 40px 60px 30px 60px;
    /*
    display: inline-block;*/
    width: 1410px;
}

.message_board_flex_inside {
    background-color: #eca65f;
}

.message_board_flex {
    border-image: url('/images/message_board.png');
    border-width: 30px;
    border-style: solid;
    border-image-slice: 30;
    margin: 5px;
    background-size: 100% 100%;
    /*  padding: 40px 60px 30px 60px;*/
    /*
    display: inline-block;
    width: 1350px;*/
}

.message_paper_board_lg {
    background-image: url('/images/message_board_paper.png');
    margin: 5px;
    background-size: 100% 100%;
    padding: 40px 60px 30px 60px;
    display: inline-block;
    width: 1230px;
}

.message_paper_board_flex {
    background-image: url('/images/message_board_paper.png');
    background-size: 100% 100%;
    padding: 40px 60px 30px 60px;
    display: inline-block;
    width:100%;
}

.message_board_full {
    background-image: url('/images/message_board.png');
    margin: 5px;
    background-size: 100% 100%;
    padding: 60px 80px 60px 80px;
    display: inline-block;
    width: 100%;
}

.message_paper_board_full {
    background-image: url('/images/message_board_paper.png');
    margin: 5px;
    background-size: 100% 100%;
    padding: 60px 80px 60px 80px;
    display: inline-block;
    width: 100%;
}

.message_board_list {
    background-image: url('/images/message_board.png');
    margin: 5px;
    background-size: 100% 100%;
    padding: 35px 35px 30px 50px;
    font-family: stardew,'Times New Roman', Times, serif;
    font-size: 20pt;
    width: 600px;
    display: inline-flex;
}

.message_cork_board_list {
    background-image: url('/images/message_cork_board.png');
    margin: 5px;
    background-size: 100% 100%;
    padding: 35px 35px 30px 50px;
    font-family: stardew,'Times New Roman', Times, serif;
    font-size: 20pt;
    width: 600px;
    display: inline-flex;
}

.message_board_list_lg {
    /*    border-image: url('/images/title_box.png') 2 fill;
    border-image-width: 5px 5px 5px 5px;*/
    background-image: url('/images/message_board.png');
    margin: 5px;
    background-size: 100% 100%;
    padding: 35px 55px 30px 55px;
    font-family: stardew,'Times New Roman', Times, serif;
    font-size: 20pt;
    width: 1230px;
    display: inline-flex;
}

.message_board_title {
    border-image: url('/images/title_box.png') 0 fill;
    /*  background-image: url('/images/title_box.png');*/
    margin: 5px 5px 5px 5px;
    background-size: 100% 100%;
    padding: 10px 5px 10px 5px;
    font-family: stardew,'Times New Roman', Times, serif;
    text-align: center;
    font-size: 28pt;
    display: inline-block;
    width: 600px;
}

.message_board_title_flex {
    border-image: url('/images/title_box.png') 0 fill;
    /*  background-image: url('/images/title_box.png');*/
    background-size: 100% 100%;
    margin: 5px 5px 5px 5px;
    padding: 10px 5px 10px 5px;
    font-family: stardew,'Times New Roman', Times, serif;
    text-align: center;
    font-size: 28pt;
    /* width: 100%;*/
}

.message_board_title_lg {
    background-image: url('/images/title_box.png');
    margin: 5px 5px 5px 0px;
    background-size: 100% 100%;
    padding: 10px 5px 10px 0px;
    font-family: stardew,'Times New Roman', Times, serif;
    text-align: center;
    font-size: 28pt;
    /* display: inline-block;
    width: 1230px;*/
}

.message_board_title_full {
    background-image: url('/images/title_box.png');
    margin: 5px 5px 5px 0px;
    background-size: 100% 100%;
    padding: 20px 80px 30px 80px;
    font-family: stardew,'Times New Roman', Times, serif;
    text-align: center;
    font-size: 28pt;
    display: inline-block;
    width: 100%;
}


html {
    scroll-padding-top: 111px; /* height of sticky header */
}

.event_details_data {
    border: 1px solid black;
    padding: 4px;
}

.jojacolor {
    color: cornflowerblue;
}

.jojoa_cd_table {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid purple;
}

.joja_cd_td {
    border: 2px solid purple;
    padding: 4px 4px 10px 4px;
    width: 300px;
    font-size: 20px;
}

.joja_cd_projname {
    padding: 4px 4px 4px 10px;
    width: 150px;
    font-size: 20px;
}

.joja_cd_space {
    padding: 4px 4px 4px 4px;
    width: 50px;
    font-size: 20px;
}

.joja_cd_bottom {
    border-bottom: 2px solid cornflowerblue;
}

.joja_cd_checkbox {
    border: 2px solid cornflowerblue;
    padding: 0px;
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    color: lawngreen;
    font-size: 20pt;
    display: inline-block;
}

.chest_header {
    padding: 5px;
    border: 2px solid brown;
    background-color: bisque;
}

.chest_content {
    width: 100%;
    max-height: 350px;
    overflow: auto;
    border: 1px solid brown;
    background-image: url(/images/cork-board-dark.png);
}

.chest_table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 4px;
}

.chest_cell {
    width: 80px;
    height: 95px;
    border-top: 4px solid #d68f54;
    border-right: 4px solid #d68f54;
    border-left: 4px solid #ffe4a1;
    border-bottom: 4px solid#ffe4a1;
    padding: 4px;
    background-color: #f8ba70;
}

.mechanics_table {
}

.mechanics_cell {
    padding: 5px;
}

.button_unsee {
    float: right;
    border-radius: 0 12px 12px 0;
    width: 180px;
    margin-top: 4px;
    margin-bottom: 4px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14pt;
    background-color: #fcbb17;
}

.catalog_prod_title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18pt;
    text-align: left;
    color: #de830d;
    font-weight: 600;
}

.wallet_items {
    padding: 4px;
}

.cheat_skill_button {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16pt;
}

.warning_div {
    border: 2px solid brown;
    border-radius: 10px;
    padding: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    text-align: center;
    width: 95%;
    background-color: tan;
}

.rouded_div {
    border: 2px solid brown;
    border-radius: 10px;
    padding: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    text-align: center;
    background-color: tan;
}

.flasher {
    animation: blinkMe 2s linear infinite;
}

@keyframes blinkMe {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.modder_mod_cell {
    padding: 2px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14pt;
}

a.event_link {
    color: black;
}

li.events {
    position: relative;
    list-style-type: none;
}

    li.events:before {
        content: "";
        position: absolute;
        top: 3px;
        left: -30px;
        width: 25px;
        height: 25px;
        background-image: url('/images/view_details_32.png');
        background-size: 25px 25px;
    }

.calender_bars {
    background-color: darkkhaki;
}

a.quest_link {
    color: black;
    text-decoration: underline;
    cursor: pointer;
}

    a.quest_link:hover {
        color: blue;
        text-decoration: underline;
        cursor: pointer;
    }

.product_image {
    width: 36px;
    vertical-align: sub;
    cursor: zoom-in
}

.product_text {
    font-size: 20pt;
    font-family: stardew;
}

.warp_building_image {
    width: 140px;
    height: 75px;
    cursor: zoom-in;
}

.mod_details_table {
    border-collapse: separate;
    border-spacing: 2px;
}

.mod_ja_cell {
    padding: 3px;
    background-color: bisque;
}

.bs_5_nav_fix {
    text-decoration: none;
    font-size: 14pt;
    padding-right: 10px;
}

.bs_tooltop_box {
    /*
        border-image: url('/images/title_box.png') 5 10 5 10 fill;
    
    border-image-slice: 10;
    border-image-width: 10;
      */
    background-color: unset !important;
    width: 290px;
    height: 120px;
    color: white;
}

.bs_tooltip_div {
    background-color: transparent !important;
    border-image-source: url(/images/title_box.png);
    border-image-width: 15px 10px 10px 10px;
    border-image-slice: 25 fill;
    border-image-repeat: stretch;
    max-width: 290px;
    width: 290px;
    height: 200px;
    padding: 10px 10px 5px 10px;
}

.weather_location {
    padding: 3px 5px 3px 3px;
    text-align: right;
    color: blue;
}

.weather_data {
    padding: 3px;
    text-align: center;
}

.weather_header {
    padding: 3px 10px 3px 10px;
    text-align: center;
    border-bottom: 2px solid black;
}

.achieve_todo {
    color: black;
    border-bottom: 1px dashed brown;
    padding: 3px;
}

.achieve_complete {
    color: forestgreen;
    border-bottom: 1px dashed brown;
    padding: 3px;
}

.achieve_disabled {
    color: grey;
    border-bottom: 1px dashed brown;
    padding: 3px;
}

.about_label {
    text-decoration: underline;
}

.about_data {
}

.about_container {
    border: groove 2px black;
    background-color: burlywood;
}
