<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="referrer" content="strict-origin-when-cross-origin">
    <!--
      <meta http-equiv="Content-Security-Policy" content="default-src *; script-src *;  img-src 'self' ; style-src 'self' 'unsafe-inline' ; font-src 'self' ; frame-src 'self'; object-src 'none'">
    -->
    <title>Stardew Valley Data Export</title>
    <link href='css/stardew.css' rel='stylesheet'>

</head>
<body style="background-image: none; background-color: white;">
    #DATA#
</body>


</html>