<div class="message_board_title_flex">Building Manager</div>
<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="message_board_title_flex">Buildings</div>
        </div>
        <div class="col-8">
            <div class="message_board_title_flex">Building Details</div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="message_paper_board_flex base_font_flex">
                <select size="16" id="buildings" onchange="GetBuilding();">
                    #BUILDINGS#
                </select>
            </div>
        </div>
        <div class="col-8">
            <div class="message_paper_board_flex base_font_flex" style="width:100%;">
                <div id="building_details" style="height:620px;">
                    #DETAILS#
                </div>
            </div>
        </div>
    </div>
</div>