<table class="stardew_table" style="width:100%;">
    <tr><td class="guild_data">#Slimes#</td><td class="guild_data">#VoidSpirits#</td></tr>
    <tr><td class="guild_data">#Bats#</td><td class="guild_data">#Skeletons#</td></tr>
    <tr><td class="guild_data">#CaveInsects#</td><td class="guild_data">#Duggies#</td></tr>
    <tr><td class="guild_data">#DustSprites#</td><td class="guild_data">#RockCrabs#</td></tr>
    <tr><td class="guild_data">#Mummies#</td><td class="guild_data">#PepperRex#</td></tr>
    <tr><td class="guild_data">#Serpent#</td><td class="guild_data">#MagmaSprite#</td></tr>
</table>