<tr>
    <td style="background-color:white;color:black; padding-right:5px;">#ID#</td>
    <td style="background-color:white;color:black; padding-right:5px;">#LIBTYPE#</td>
    <td style="background-color:white;color:black; padding-right:5px;">#CATID#</td>
    <td style="background-color:white;color:black; padding-right:5px;">#CATTEXT#</td>
    <td style="background-color:white;color:black; padding-right:5px;">#SPRITEID#</td>
    <td style="background-color:white;color:black; padding-right:5px;">#NAME#</td>
    <td style="background-color:white;color:black; padding-right:5px;">#DISPNAME#</td>
    <td style="background-color:white;color:black; width:250px; padding-right:5px;">#DESC#</td>
    <td style="background-color:white;color:black; padding-right:5px;">#SUBCAT#</td>
    <td style="background-color:white;color:black; padding-right:5px;">#MACHNAME#</td>
    <td style="background-color:white;color:black; padding-right:5px;">#DEFN#</td>
    <td style="background-color:white;color:black; padding-right:5px;">#DEFIN#</td>
</tr>