<td class="chest_cell" style="" draggable="false" ondrop="drop(event)" ondragover="allowDrop(event)">
    <div ondragover="allowDrop(event)" id="#CELLID#" ondrop="drop(event)"  onclick="PopAndMetaSearch('#METAID#');" style="width:100%; height:100%;">
        <div id="#ITEMID#" ondragstart="drag(event)" draggable="#DRAGGABLE#" style="cursor:move;">
            <table>
                <tr>
                    <td>
                        <img src="/asset?metaid=#METAID#" style="width:48px;" />
                        <div style="position:relative;font-size:24pt;margin-top:-25px;left:-0px;color:white;">#QTY#</div>
                    </td>
                    <td style="width:18px;">#QUALITY#</td>
                </tr>
            </table>
        </div>
    </div>
</td>