<!DOCTYPE html>
<html lang="en">
<head>
    #HEAD#

    <script>
        var bPageLoaded = #PAGELOADED#;
        var upperChestId = "";
        var lowerChestId = "";
        //var sTemplate = '<div class="" role="tooltip"><div class=""></div><div class="tooltip-inner bs_tooltip_div"></div></div>';

        function LocalPageLoaded() {
            SubPageLoaded('Farm', 'ChestMan');
            if (bPageLoaded) {
                document.getElementById("topCategory").selectedIndex = 2;
                TopCategorySelected();
                document.getElementById("bCategory").selectedIndex = 0;
                BCategorySelected();

            }

            bPageLoaded = true;
        }

        function MoveAll(moveUp) {

            var sUpperCat = document.getElementById("topCategory").value;
            var sUpperName;

            if (sUpperCat == "--sbin--") {
                sUpperName = ["sbin", "", ""];
            }
            else if (sUpperCat == "--bp--") {
                sUpperName = ["bp", "", ""];
            } else {
                sUpperName = document.getElementById('topName').value.split(divPartSepartor);
            }

            var sLowerCat = document.getElementById("bCategory").value;
            var sLowerName;
            if (sLowerCat == "--sbin--") {
                sLowerName = ["sbin", "", ""];
            }
            else if (sLowerCat == "--bp--") {
                sLowerName = ["bp", "", ""];
            } else {
                sLowerName = document.getElementById('bName').value.split(divPartSepartor);
            }

            var sUrl = '/Inventory/moveall/';
            if (moveUp) {
                sUrl += sLowerName[0] + "/" + sLowerName[1] + "/" + sLowerName[2] + "/" + sUpperName[0] + "/" + sUpperName[1] + "/" + sUpperName[2];
            }
            else {
                sUrl += sUpperName[0] + "/" + sUpperName[1] + "/" + sUpperName[2] + "/" + sLowerName[0] + "/" + sLowerName[1] + "/" + sLowerName[2];
            }
            fetch(sUrl)
                .then(response => {
                    if (response.ok) {
                        MoveComplete();
                        response.json().then(data => {
                            //document.getElementById('topbox').innerHTML = data.ChestContents;
                            //document.getElementById('Name').innerHTML = data.Name;
                            //document.getElementById('Category').innerHTML = data.Category;
                        });
                    } //else //document.getElementById('topbox').innerHTML = 'Network response was not ok.';
                })
                .catch(error => {
                    MoveComplete();
                    var x = 1;
                    //document.getElementById('topbox').innerHTML = 'Fetch error: ' + error
                }
                );
        }
        function CloseRuleAdd() {
            document.getElementById('newrule').style.display = 'none';
        }
        function ShowAddRule() {
            document.getElementById('newrule').style.display = 'block';

        }
        function CloseRulesEditor() {
            document.getElementById('rules').style.display = 'none';
        }

        function GetRules(sChestId) {
            //
            //  get workflow rules for chest
            //
            var rules = document.getElementById('rules');
            rules.style.display = "block";

            var sUrl = '/Inventory/rule/' + sChestId;
            fetch(sUrl)
                .then(response => {
                    if (response.ok) {
                        response.json().then(data => {
                            document.getElementById('ruledetails').innerHTML = data.Details;
                        });
                    } else document.getElementById('ruledetails').innerHTML = 'Network response was not ok.';
                })
                .catch(error => {
                    document.getElementById('ruledetails').innerHTML = 'Fetch error: ' + error;
                    upperChestId = "";
                }
                );

        }

        function LoadTopChest(sChestId) {

            upperChestId = sChestId;
            var sUrl = '/Inventory?cfetch=' + sChestId;
            fetch(sUrl)
                .then(response => {
                    if (response.ok) {
                        response.json().then(data => {
                            document.getElementById('topbox').innerHTML = data.ChestContents;
                            document.getElementById('Name').innerHTML = data.Name;
                            document.getElementById('Category').innerHTML = data.Category;
                        });
                    } else document.getElementById('topbox').innerHTML = 'Network response was not ok.';
                })
                .catch(error => {
                    document.getElementById('topbox').innerHTML = 'Fetch error: ' + error;
                    upperChestId = "";
                }
                );
        }

        function LoadTopChestByName(sChestName) {

            upperChestId = sChestName;
            var sUrl = '/Inventory?cname=' + encodeURIComponent(sChestName);
            document.getElementById('topbox').innerHTML = "<img src='/images/loading-4.gif'>";
            fetch(sUrl)
                .then(response => {
                    if (response.ok) {
                        response.json().then(data => {
                            document.getElementById('topbox').innerHTML = data.ChestContents;
                            //$('[data-bs-toggle="tooltip"]').tooltip({ html: true, sanitize: false, template: sTemplate, placement: 'right', offset: [10, 10] });
                        });
                    } else document.getElementById('topbox').innerHTML = 'Network response was not ok.';
                })
                .catch(error =>
                    document.getElementById('topbox').innerHTML = 'Fetch error: ' + error
                );
        }

        function LoadBChestByName(sChestName) {

            var sUrl = '/Inventory?cname=' + encodeURIComponent(sChestName);

            fetch(sUrl)
                .then(response => {
                    if (response.ok) {
                        response.json().then(data => {
                            document.getElementById('bbox').innerHTML = data.ChestContents;
                            //$('[data-bs-toggle="tooltip"]').tooltip({ html: true, sanitize: false, template: sTemplate, placement: 'right', offset: [10, 10] });
                        });
                    } else document.getElementById('bbox').innerHTML = 'Network response was not ok.';
                })
                .catch(error =>
                    document.getElementById('bbox').innerHTML = 'Fetch error: ' + error
                );
        }

        function GetChestLoadingGif() {

            return "<img src='/images/loading-4.gif'  width='200px' height='150px'>";
        }

        function TopCategorySelected() {
            if (bPageLoaded) {
                document.getElementById('topbox').innerHTML = GetChestLoadingGif();

                var sCat = document.getElementById("topCategory").value;
                removeOptions(document.getElementById('topName'));

                if (sCat.indexOf("--") == 0) {
                    LoadTopChestByName(sCat.replaceAll("--", ""));
                }
                else {
                    var sUrl = '/Inventory?getnames=' + encodeURIComponent(sCat);
                    fetch(sUrl).then(function (response) {
                        return response.text();
                    }).then(function (html) {
                        var oSelect = document.getElementById('topName');
                        oSelect.innerHTML = html;
                        if (oSelect.length > 0) {
                            oSelect.selectedIndex = 0;
                            TopNameSelected();
                        }
                    }).catch(function (err) {
                        console.warn('Something went wrong.', err);
                    });
                }
            }
        }

        function BCategorySelected() {
            if (bPageLoaded) {
                document.getElementById('bbox').innerHTML = GetChestLoadingGif();

                var sCat = document.getElementById("bCategory").value;
                removeOptions(document.getElementById('bName'));

                if (sCat.indexOf("--") == 0) {
                    LoadBChestByName(sCat.replaceAll("--", ""));
                }
                else {
                    var sUrl = '/Inventory?getnames=' + encodeURIComponent(sCat);
                    fetch(sUrl).then(function (response) {
                        return response.text();
                    }).then(function (html) {
                        var oSelect = document.getElementById('bName');
                        oSelect.innerHTML = html;
                        if (oSelect.length > 0) {
                            oSelect.selectedIndex = 0;
                            BNameSelected();
                        }
                    }).catch(function (err) {
                        console.warn('Something went wrong.', err);
                    });
                }
            }
        }

        function BNameSelected() {
            if (bPageLoaded) {
                var sCat = document.getElementById("bCategory").value.replaceAll("--", "");
                var sName = document.getElementById("bName").value;
                //
                if (sName == null || sName == "") {
                    sName = sCat;
                }
                //LoadBChestByName(sCat + divPartSepartor + sName);
                LoadBChestByName(sName);
            }
        }

        function TopNameSelected() {

            if (bPageLoaded) {
                var sCat = document.getElementById("topCategory").value.replaceAll("--", "");
                var sName = document.getElementById("topName").value;
                //
                //LoadTopChestByName(sCat + divPartSepartor + sName);
                if (sName == null || sName == "") {
                    sName = sCat;
                }
                LoadTopChestByName(sName);
            }
        }
    </script>
</head>
<body onload="LocalPageLoaded();">
    #MENUBAR#

    <div class="stardew_container top_margin_50 med_bottom_pad">
        <div class="container">
            #CONTENT#
        </div>
    </div>
    <div id="rules" class="" style="padding:10px; display:none;background-color:lemonchiffon; height:600px;width:800px;position:absolute;top: 160px;left:30px; border: 2px solid #808080">
        <h1>Workflow Rules</h1><br />
    <div style="width:100%; height: 450px; padding:20px; overflow:auto;" id="ruledetails"></div>
    <button onclick="CloseRulesEditor();">Cancel</button> <button>Save</button>
    </div>
</body>
</html>