<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BetterFarmAnimalVariety.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <BetterFarmAnimalVariety.Properties.Settings>
            <setting name="FarmAnimals_Chicken" serializeAs="String">
                <value>0/5922/11334/800/White Chicken,Brown Chicken,Blue Chicken,Void Chicken/Coop,Big Coop,Deluxe Coop</value>
            </setting>
            <setting name="FarmAnimals_DairyCow" serializeAs="String">
                <value>1/5927/11343/1500/White Cow,Brown Cow/Barn,Big Barn,Deluxe Barn</value>
            </setting>
            <setting name="FarmAnimals_Goat" serializeAs="String">
                <value>2/5933/11349/4000/Goat/Big Barn,Deluxe Barn</value>
            </setting>
            <setting name="FarmAnimals_Duck" serializeAs="String">
                <value>3/5937/11337/4000/Duck/Big Coop,Deluxe Coop</value>
            </setting>
            <setting name="FarmAnimals_Sheep" serializeAs="String">
                <value>4/5942/11352/8000/Sheep/Deluxe Barn</value>
            </setting>
            <setting name="FarmAnimals_Rabbit" serializeAs="String">
                <value>5/5945/11340/8000/Rabbit/Deluxe Coop</value>
            </setting>
            <setting name="FarmAnimals_Pig" serializeAs="String">
                <value>6/5948/11346/16000/Pig/Deluxe Barn</value>
            </setting>
            <setting name="FarmAnimals_Dinosaur" serializeAs="String">
                <value>7/null/null/null/Dinosaur/Big Coop,Deluxe Coop</value>
            </setting>
            <setting name="AssetsDirectory" serializeAs="String">
                <value>assets</value>
            </setting>
        </BetterFarmAnimalVariety.Properties.Settings>
    </applicationSettings>
</configuration>