<table>
    <tr><td><div class="message_board_title_lg">Dateable</div></td></tr>
    <tr>
        <td>
            <div class="message_board_lg">
                <div style="max-height:400px;overflow:auto;">
                    <table border="1" class="stardew_table" id="friends">
                        <thead>
                            <tr>
                                <th class="stardew_header center fixed_header" style="cursor:pointer;" onclick="sortTable('friends',0);">Character</th>
                                <th class="stardew_header center fixed_header" style="cursor:pointer;" onclick="sortTable('friends',1);">Status</th>
                                <th class="stardew_header center fixed_header">Gifted Today</th>
                                <th class="stardew_header center fixed_header">Gifts This Week</th>
                                <th class="stardew_header center fixed_header">Talked To Today</th>
                                <th class="stardew_header center fixed_header" style="cursor:pointer;" onclick="sortTable('friends',5);">Points</th>
                                <th class="stardew_header center fixed_header">Frindship</th>
                            </tr>
                        </thead>
                        <tbody>
                            #FRIENDATA#
                        </tbody>
                    </table>
                </div>
            </div>
        </td>
    </tr>
</table>
