<tr>
    <td class="stardew_data" style="width: 200px;"><a href="/Friends?id=#NAME#"><img src="/Asset?asset=Portraits%2f#NAME#" style="cursor:zoom-in"/></a>
    &nbsp;#NAME# #BDAY# #BOQUET#</td>
    <td class="stardew_data center">#STATUS#</td>
    <td class="stardew_data center"><input type="checkbox" onclick="return false;" onkeydown="return false;" #GIFTEDTODAY#></td>
    <td class="stardew_data center">
        <input type="checkbox" onclick="return false;" onkeydown="return false;" #ONEGIFT#>
        &nbsp;<input type="checkbox" onclick="return false;" onkeydown="return false;" #TWOGIFTS#>
    </td>

    <td class="stardew_data center"><input type="checkbox" onclick="return false;" onkeydown="return false;" #TALKED# /></td>
    <td class="stardew_data right">#POINTS#</td>
    <td class="stardew_data">#HEARTS#</td>

</tr>