<div class="message_board_title_flex">Dialogue Editor</div>
<div class="message_paper_board_flex base_font_flex">
    <form action="/Friends/npc/savestring" method="post">
        <input type="hidden" id="npc" name="npc" value="#NAME#">
        <input type="hidden" id="dkey" name="dkey" value="#KEY#">
        <div class="row">
            <div class="col-6 m-2">
                <div class="row">
                    <div class="col-6"><u>NPC Name:</u> #NAME#</div>
                </div>
                <div class="row">
                    <div class="col"><u>Dialogue Key:</u> #KEY#</div>
                </div>
                <div class="row p-2">
                    <div class="col-6">
                        <textarea cols="60" rows="5" id="newtext" name="newtext" style="font-family:Arial; font-size:1rem;">#TEXT#</textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <button type="submit">Save</button> <button onclick="ClickAndOpen('/Friends/NPCs/#NAME#'); return false;">Cancel</button>
                    </div>
                </div>
            </div>
            <div class="col-5 m-2 stardew_round_border">
                This is an experimental very raw method to edit NPC dialogues
                and provides no error checking.<br />These edits will not erase the original game text and will only be displayed
                if Stardew Web is installed.  If you do mess it up, save an empty text box and the normal text will be restored.<br />For more
                details on how dialogues work, check out the <a href="https://stardewvalleywiki.com/Modding:Dialogue" target="_blank">Wiki</a>.  
                <br />Edits you make will immediately be available in the game, no need to restart.
                <br />Where is this going?  The end version of this should be able to save your edits into a Mod file that your can share.<br />
                For now if you want to share your customizations with a friend, they need to be running Stardew Web and you can send them
                the file 'customstring.json' from 'Mod Directory\StardewWeb' and they need to place the file in their 'Mod Directory\StardewWeb' 
                directory.
            </div>
        </div>
       
    </form>
</div>