<tr>

    <td class="stardew_data"><a href="/Friends?id=#NAME#">
    <img src="/Asset?asset=Portraits%2f#NAME#" style="cursor:zoom-in" onerror="this.src = '/images/missing.png'; this.onerror = '';"/></a>
    &nbsp; #NAME#
</td>
    <td class="stardew_data center">#STATUS#</td>
    <td class="stardew_data center"><input type="checkbox" #GIFTEDTODAY#></td>
    <td class="stardew_data center">
        <input type="checkbox" #ONEGIFT#>
        &nbsp;<input type="checkbox" #TWOGIFTS#>
    </td>

    <td class="stardew_data center"><input type="checkbox" #TALKED# /></td>
    <td class="stardew_data right">#POINTS#</td>
    <td class="stardew_data">#HEARTS#</td>

</tr>