<table>
    <tr>
        <td>
            <div class="message_board_title_full">Cooking Recipes</div>
        </td>
    </tr>
    <tr>
        <td style="padding-left: 35px;">
            #RECEIPETABLE#
        </td>
    </tr>
    <tr>
        <td>
            <div class="message_board_title_full">Crafting Receipes #CRAFTED# of #TOTALCRAFTING# (#CRAFTINGPERCENT#)(Not accurate yet)</div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="message_board_full">
                #CRAFTINGTABLE#
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="message_board_title_full">Fishing #FISHCAUGHT# of #TOTALFISH# (#FISHPERCENT#)</div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="message_board_full">
                #FISHING#
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="message_board_title_full">Museum Pieces #FPIECES# of #TPIECES# (#MUSEUMPERCENT#)</div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="message_board_full">
                #MUSEUM#
            </div>
        </td>
    </tr>
</table>