<div class="rouded_div" style="width:970px; background-image: url(/images/cork-board-white.png);" >
    <table class="" style="width: 100%;">
        <tr>
            <td class="bundle_checkbox">#DOOR#</td>
            <td class="bundle_item">Community Center Door Unlocked</td>
            <td class="bundle_checkbox">#JOJA#</td>
            <td class="bundle_item">JojaMart Membership</td>
        </tr>
        <tr>
            <td class="bundle_checkbox">#BOILER#</td>
            <td class="bundle_item">Boiler Room<br /><u>Reward</u>: Minecarts repaired</td>
            <td class="bundle_checkbox">#BULLETIN#</td>
            <td class="bundle_item">Bulletin Board<br /><u>Reward</u>: Friendship</td>
        </tr>
        <tr>
            <td class="bundle_checkbox">#CRAFTS#</td>
            <td class="bundle_item">Crafts Room<br /><u>Reward</u>: Bridge Repair</td>
            <td class="bundle_checkbox">#FISH#</td>
            <td class="bundle_item">Fish Tank<br /><u>Reward</u>: Glittering Boulder Removed</td>
        </tr>
        <tr>
            <td class="bundle_checkbox">#PANTRY#</td>
            <td class="bundle_item">Pantry<br /><u>Reward</u>: Greenhouse</td>
            <td class="bundle_checkbox">#VAULT#</td>
            <td class="bundle_item">Vault<br /><u>Reward</u>: Bus Repair</td>
        </tr>
        <tr>
            <td class="bundle_checkbox">#JOJAABD#</td>
            <td class="bundle_item">Abandoned JojaMart<br /><u>Reward</u>: ???</td>
            <td class="bundle_checkbox"></td>
            <td class="bundle_item"></td>
        </tr>
    </table>
</div>