<table>
    <tr>
        <td style="vertical-align: top;">
            <div class="message_board_title">Farm Tasks</div>
        </td>
        <td style="vertical-align:  top;">
            <div class="message_board_title">Open Quests</div>
        </td>
    </tr>
    <tr>
        <td>  <div class="message_board"><div style="height: 300px;overflow:auto; width:100%;">#SUMMARY#</div></div></td>
        <td>
            <div class="message_board_list">
                <div style="height: 300px; overflow:auto;">
                    #JOURNAL#
                </div>
            </div>
        </td>
    </tr>
</table>

<div class="message_board_title_lg">Farm Task Details</div>
<div class="message_board_lg">
    <div class="submenu-bar submenu-black">
        <button class="submenu-bar-item submenu-bar-button" onclick="openTab('UnHarvested')">UnHarvested Crops</button>
        <button class="submenu-bar-item submenu-bar-button" onclick="openTab('Dead')">Dead Crops</button>
        <button class="submenu-bar-item submenu-bar-button" onclick="openTab('UnWatered')">Un-Watered Crops</button>
        <button class="submenu-bar-item submenu-bar-button" onclick="openTab('Trees')">Trees</button>
        <button class="submenu-bar-item submenu-bar-button" onclick="openTab('Products')">Animal Products</button>
        <button class="submenu-bar-item submenu-bar-button" onclick="openTab('Animals')">Un-Petted Animals</button>
        <button class="submenu-bar-item submenu-bar-button" onclick="openTab('NotBaited')">Un-Baited Crab Pots</button>
        <button class="submenu-bar-item submenu-bar-button" onclick="openTab('NotCollected')">Un-Collected Crab Pots</button>
        <button class="submenu-bar-item submenu-bar-button" onclick="openTab('Machines')">Machines</button>
        <button class="submenu-bar-item submenu-bar-button" onclick="openTab('Damage')">Damaged Fences</button>
        <button class="submenu-bar-item submenu-bar-button" onclick="openTab('PondColl')">Ponds To Collect</button>
        <button class="submenu-bar-item submenu-bar-button" onclick="openTab('PondAttn')">Ponds Wanting Something</button>
    </div>
    <div id="UnHarvested" style="background-color:initial;" class="submenu-bar-container subtab"><div class="task_type">UnHarvested Crops</div><div class="task_list">#UNHARVESTED#</div></div>
    <div id="Dead" style="background-color:initial;display:none" class="submenu-bar-container subtab"><div class="task_type">Dead Crops</div><div class="task_list">#DEAD#</div></div>
    <div id="UnWatered" style="background-color:initial;display:none" class="submenu-bar-container subtab"><div class="task_type">Un-Watered Crops</div><div class="task_list">#UNWATERED#</div></div>
    <div id="Trees" style="background-color:initial;display:none" class="submenu-bar-container subtab"><div class="task_type">Trees With Crops</div><div class="task_list">#TREES#</div></div>
    <div id="Products" style="background-color:initial;display:none" class="submenu-bar-container subtab"><div class="task_type">Animal Products</div><div class="task_list">#ANIMAL#</div></div>
    <div id="Animals" style="background-color:initial;display:none" class="submenu-bar-container subtab"><div class="task_type">Un-Petted Animals</div><div class="task_list">#UNPETTED#</div></div>
    <div id="NotBaited" style="background-color:initial;display:none" class="submenu-bar-container subtab"><div class="task_type">Un-Baited Crab Pots</div><div class="task_list">#NOTBAITED#</div></div>
    <div id="NotCollected" style="background-color:initial;display:none" class="submenu-bar-container subtab"><div class="task_type">Un-Collected Crab Pots</div><div class="task_list">#NOTCOLPOTS#</div></div>
    <div id="Machines" style="background-color:initial;display:none" class="submenu-bar-container subtab"><div class="task_type">Machines With Products</div><div class="task_list">#MACHINES#</div></div>
    <div id="Damage" style="background-color:initial;display:none" class="submenu-bar-container subtab"><div class="task_type">Damaged Fences</div><div class="task_list">#FENCES#</div></div>
    <div id="PondColl" style="background-color:initial;display:none" class="submenu-bar-container subtab"><div class="task_type">Ponds To Collect</div><div class="task_list">#PONDCOLL#</div></div>
    <div id="PondAttn" style="background-color:initial;display:none" class="submenu-bar-container subtab"><div class="task_type">Ponds Wanting Something</div><div class="task_list">#PONDATT#</div></div>
</div>

