<div class="container p-2">
    <div class="row row-cols-6 row-cols-lg-12">
        <div class="col-6 col-lg-7 col-xxl-7">
            <div class="container border-1">
                <div class="row">
                    <div class="col-12 col-lg-12 col-xxl-12" style="font-size:28pt;text-align:left;">&nbsp;#NAME#</div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-12 col-xxl-12 p-1" style="text-align:left;">#DESC#</div>
                </div>
            </div>
        </div>
        <div class="col-4 col-lg-4 offset-lg-1"><img src="/asset?metaid=#METAID#" style="width:48px; margin-left:auto;margin-right:auto;" />&nbsp;#ADDBUTTON#</div>
    </div>
    <div class="row row-cols-4 row-cols-lg-12">
        <div class="col-4 col-lg-12">
            <div class="container">
                <div class="row">
                    <div class="col center"><u>Parts List</u></div>
                </div>
                <div class="row">
                    <div class="col p-2"><p class="text-justify">#PARTS#</p></div>
                </div>
                <div class="row"><div class="col center"><u>Requirements</u></div></div>
                <div class="row">
                    <div class="col p-2 text-left">#REQS#</div>
                </div>
                <div class="row"><div class="col center"><u>Produces</u></div></div>
                <div class="row">
                    <div class="col p-2 text-left">#PRODS#</div>
                </div>
                #WIKI#
                #TECHABOUT#
            </div>
        </div>
    </div>
</div>
<!--
<div class="search_detail_box">
    #ADDBUTTON#
    <table>
        <tr>
            <td colspan="2" style="font-size:28pt;text-align:left;">#NAME#</td>

        </tr>
        <tr>
            <td colspan="2" style="text-align:left;padding-bottom:10px;">#DESC#</td>
        </tr>

        <tr>
            <td style="width:100px;text-align:left;padding-left:20px;vertical-align:top;">
                <table>
                    <tr>
                        <td style="text-align:center;padding-bottom:20px;">
                            <img src="/asset?metaid=#METAID#" style="width:48px; height:96px; margin-left:auto;margin-right:auto;" />
                        </td>
                    </tr>

                </table>

            </td>
            <td style="vertical-align:top; width:500px;">
                <table>
                    <tr>
                        <td><u>Parts List</u></td>
                    </tr>
                    <tr>
                        <td class="left" style="padding-bottom:10px;">
                            #PARTS#
                        </td>
                    </tr>
                    <tr>
                        <td><u>Requirments</u></td>
                    </tr>
                    <tr>
                        <td class="left" style="padding-bottom:10px;">
                            #REQS#
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td colspan="2"><u>Produces</u></td>
        </tr>
        <tr><td colspan="2">#PRODS#</td></tr>
        <tr>
            <td colspan="2" style="padding-top:20px;">
                <u>Id:</u> #ID#, <u>Category</u>: #CATEGORY#, <u>Type</u>: #TYPE#, <u>Crafted</u>: #CRAFTED#
            </td>
        </tr>
        <tr>
            <td colspan="2" style="padding-top:10px;">
                <u>Source:</u> #SOURCE#
            </td>
        </tr>
    </table>

</div>
    -->
