<div class="container p-2">
    <div class="row row-cols-4 row-cols-lg-12">
        <div class="col-4 col-lg-4" style="font-size:28pt;text-align:left;">#NAME#</div>
        <div class="col-2 col-lg-4"><img src="/asset?metaid=#SEEDMETAID#" style="width:48px; height:48px; margin-left:auto;margin-right:auto;" />&nbsp;#BUTTON1#</div>
        <div class="col-2 col-lg-4"><img src="/asset?metaid=#PRODMETAID#" style="width:48px; height:48px; margin-left:auto;margin-right:auto;" />&nbsp;#BUTTON2#</div>
    </div>
    <div class="row row-cols-4 row-cols-lg-12">
        <div class="col-4 col-lg-12 p-2" style="text-align:left;">#DESC#</div>
    </div>
    <div class="row row-cols-4 row-cols-lg-12">
        <div class="col-4 col-lg-12">
            <div class="container">
                <div class="row">
                    <div class="col center"><u>Cultivating</u></div>
                </div>
                <div class="row">
                    <div class="col p-2"><p class="text-justify">The #SEEDINFO# can be purchased for #SEEDPRICE#g#FROM# and takes #TTG# days to mature. #SEASON# The #NAME# sells for #PRICE#g.  #MULTIPLE# #KEEP#</p></div>
                </div>
                <div class="row"><div class="col center"><u>Used In</u></div></div>
                <div class="row">
                    <div class="col p-2 text-left">#USAGE#</div>
                </div>
                <div class="row"><div class="col center"><u>Needed For</u></div></div>
                <div class="row">
                    <div class="col p-2 text-left">#NEEDS#</div>
                </div>
                #WIKI#
                #TECHABOUT#
            </div>
        </div>
    </div>
</div>