<div class="container p-2">
    <div class="row row-cols-4 row-cols-lg-12">
        <div class="col-4 col-lg-4" style="font-size:28pt;text-align:left;">#NAME#</div>
        <div class="col-2 col-lg-4 offset-lg-4">#ADDBUTTON#</div>
    </div>
    <div class="row row-cols-4 row-cols-lg-12">
        <div class="col-4 col-lg-12 p-2" style="text-align:left;">#DESC#</div>
    </div>
    <div class="row row-cols-4 row-cols-lg-12">
        <div class="col-1 col-lg-2 p2"><img src="/asset?metaid=#METAID#" style="width:96px; margin-left:auto;margin-right:auto;" /></div>
        <div class="col-3 col-lg-10 p2">
            <div class="container">
                <div class="row"><div class="col"><u>Purchase Price:</u> #PRICE#g</div></div>
                <div class="row"><div class="col"><u>Produces:</u> #PRODS#</div></div>
                <div class="row"><div class="col"><u>Lives in a:</u> #HOME#</div></div>
                <div class="row"><div class="col"><u>You own:</u> <a href="/Production/livestock">#COUNT#</a></div></div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        #WIKI#
        <br />
        #TECHABOUT#
    </div>
</div>