<div class="search_detail_box">
    <table>
        <tr><td style="width:180px;" class="right">Name:</td><td class="left" style="padding-left:10px;">#NAME#</td></tr>
        <!--
    <tr><td class="right top">Description:</td><td class="left" style="padding-left:10px;">#DESC#</td></tr>
        -->
        <tr><td class="right">Date:</td><td class="left" style="padding-left:10px;">#SEASON# #DATE#</td></tr>
        <tr><td class="right">Time:</td><td class="left" style="padding-left:10px;">#TIME#</td></tr>
        <tr><td class="right">Location:</td><td class="left" style="padding-left:10px;">#LOC#</td></tr>
        <tr><td class="right">Shops Closed:</td><td class="left" style="padding-left:10px;">#CLOSED#</td></tr>
    </table>

</div>