<div class="row">
    <div class="col center"><u>Technical Details</u></div>
</div>
<div class="row">
    <div class="col p-1">
        <div class="container p-1 about_container">
            <div class="row">
                <div class="col col-lg-1 about_label">Id:</div>
                <div class="col col-lg-2 about_data left">#ID#</div>
                <div class="col col-lg-2 about_label">Category:</div>
                <div class="col-4 col-lg-4 about_data left">#CAT# (#CATID#)</div>
                <div class="col-4"></div>
            </div>
            <div class="row">
                <div class="col-2 col-lg-3 about_label">Context Tags:</div>
                <div class="col-6 col-lg-6 about_data">#CONTEXT#</div>
            </div>
            <div class="row">
                <div class="col-2 col-lg-3 about_label">Source:</div>
                <div class="col-6 col-lg-6 about_data">#SOURCE#</div>
            </div>
        </div>
    </div>
</div>
