<div class="search_detail_box">
    <table>
        <tr>
            <td colspan="2" style="font-size:28pt;text-align:left;">#NAME#</td>

        </tr>
        <tr>
            <td colspan="2" style="text-align:left;padding-bottom:10px;">#DESC#</td>
        </tr>

        <tr>
            <td style="width:200px;text-align:left;padding-left:20px;vertical-align:top;">
                <table>
                    <tr>
                        <td style="text-align:center;padding-bottom:20px;">
                        </td>
                    </tr>
                    <tr>
                        <td class="center"><u>Id</u></td>
                    </tr>
                    <tr><td class="center">#ID#</td></tr>
                    <tr>
                        <td class="center"><u>Category</u></td>
                    </tr>
                    <tr>
                        <td class="center">#CATEGORY#</td>
                    </tr>
                    <tr>
                        <td class="center"><u>Type</u></td>
                    </tr>
                    <tr>
                        <td class="center">#TYPE#</td>
                    </tr>

                </table>

            </td>
            <td style="vertical-align:top; width:500px;">
                <table>
                    <tr>
                        <td>Cost #PRICE#g</td>
                    </tr>

                </table>
                <table>
                    <tr>
                        <td><img src="/asset?asset=Animals/BabyWhite Chicken" class="chicken_image" /></td>
                        <td><img src="/asset?asset=Animals/BabyBrown Chicken" class="chicken_image" /></td>
                        <td><img src="/asset?asset=Animals/BabyBlue Chicken" class="chicken_image" /></td>
                        <td><img src="/asset?asset=Animals/BabyGolden Chicken" class="chicken_image" /></td>
                        <td><img src="/asset?asset=Animals/BabyVoid Chicken" class="chicken_image" /></td>
                    </tr>
                    <tr>
                        <td><img src="/asset?asset=Animals/White Chicken" class="chicken_image" /></td>
                        <td><img src="/asset?asset=Animals/Brown Chicken" class="chicken_image" /></td>
                        <td><img src="/asset?asset=Animals/Blue Chicken" class="chicken_image" /></td>
                        <td><img src="/asset?asset=Animals/Golden Chicken" class="chicken_image" /></td>
                        <td><img src="/asset?asset=Animals/Void Chicken" class="chicken_image" /></td>
                    </tr>
                    <tr><td colspan="5">Produces: #PRODS#</td></tr>
                    <tr><td colspan="5">Lives in a #HOME#</td></tr>
                </table>
            </td>
        </tr>

    </table>

</div>