<div class="container p-2">
    <div class="row row-cols-4 row-cols-lg-12">
        <div class="col-4 col-lg-4" style="font-size:28pt;text-align:left;">#NAME#</div>
        <div class="col-2 col-lg-4 offset-lg-4"><img src="/asset?metaid=#METAID#" style="width:48px; height:48px; margin-left:auto;margin-right:auto;" />&nbsp;#ADDBUTTON#</div>
    </div>
    <div class="row row-cols-4 row-cols-lg-12">
        <div class="col-4 col-lg-12 p-2" style="text-align:left;">#DESC#</div>
    </div>
    <div class="row row-cols-4 row-cols-lg-12">
        <div class="col-4 col-lg-12">
            <div class="container">
                <div class="row">
                    <div class="col center"><u>Cultivating</u></div>
                </div>
                <div class="row">
                    <div class="col p-2"><p class="text-justify">#NAME# can only be found foraging.</p></div>
                </div>
                <div class="row"><div class="col center"><u>Used In</u></div></div>
                <div class="row">
                    <div class="col p-2 text-left">#USAGE#</div>
                </div>
                <div class="row"><div class="col center"><u>Needed For</u></div></div>
                <div class="row">
                    <div class="col p-2 text-left">#NEEDS#</div>
                </div>
                #WIKI#
                #TECHABOUT#
            </div>
        </div>
    </div>
</div>
<!--


<div class="search_detail_box">
    #ADDBUTTON#
    <table>
        <tr>
            <td colspan="2" style="font-size:28pt;text-align:left;">#NAME#</td>

        </tr>
        <tr>
            <td colspan="2" style="text-align:left;padding-bottom:10px;">#DESC#</td>
        </tr>

        <tr>
            <td style="width:200px;text-align:left;padding-left:20px;vertical-align:top;">
                <table>
                    <tr>
                        <td style="text-align:center;padding-bottom:20px;">
                            <table style="margin-left:auto;margin-right:auto;">
                                <tr>
                                    <td>
                                        <img src="/asset?metaid=#METAID#" style="width:48px; margin-left:auto;margin-right:auto;" />
                                    </td>

                                </tr>
                                <tr>
                                    <td class="center"><u>Price</u></td>
                                </tr>
                                <tr>
                                    <td class="center">#SEEDPRICE#</td>
                                </tr>
                                <tr>
                                    <td class="center"><u>Id</u></td>
                                </tr>
                                <tr>
                                    <td class="center">#ID#</td>
                                </tr>
                                <tr>
                                    <td class="center"><u>Category</u></td>
                                </tr>
                                <tr>
                                    <td class="center">#PRODCAT#</td>
                                </tr>
                                <tr>
                                    <td class="center"><u>Type</u></td>
                                </tr>
                                <tr>
                                    <td class="center">#PRODTYPE#</td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                </table>

            </td>
            <td style="vertical-align:top; width:500px;">
                <table>
                    <tr><td><u>Cultivating</u></td></tr>
                    <tr><td style="padding-bottom:10px;">#NAME# can only be found foraging.</td></tr>
                    <tr><td><u>Used In</u></td></tr>
                    <tr><td class="left">#USAGE#</td></tr>
                    <tr><td><u>Stardew Wiki Entry</u></td></tr>
                    <tr><td class="left">#WIKI#</td></tr>
                </table>
            </td>
        </tr>

    </table>

</div>

    -->
