<div class="search_detail_box">
    #ADDBUTTON#
    <table>
        <tr>
            <td colspan="2" style="font-size:28pt;text-align:left;">#NAME#</td>

        </tr>
        <tr>
            <td colspan="2" style="text-align:left;padding-bottom:10px;">#DESC#</td>
        </tr>

        <tr>
            <td style="width:200px;text-align:left;padding-left:20px;vertical-align:top;">
                <table>

                    <tr>
                        <td class="center"><u>Id</u></td>
                    </tr>
                    <tr><td class="center">#ID#</td></tr>
                    <tr>
                        <td class="center"><u>Category</u></td>
                    </tr>
                    <tr>
                        <td class="center">#CATEGORY#</td>
                    </tr>
                    <tr>
                        <td class="center"><u>Type</u></td>
                    </tr>
                    <tr>
                        <td class="center">#TYPE#</td>
                    </tr>
                </table>

            </td>
            <td style="vertical-align:top; width:500px;">
                <table>
                    <tr>
                        <td class="right">Price: </td>
                        <td class="stardew_number">#PRICE#g</td>
                    </tr>
                    <tr>
                        <td class="right">Number crafted: </td>
                        <td class="stardew_number">#CRAFTED#</td>
                    </tr>
                    <tr>
                        <td class="stardew_furniture_td" colspan="2">
                            <img src="/asset?metaid=#METAID#" style="width:#PW#px; height:#PH#px;" class="stardew_furniture_img" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

    </table>

</div>