<div class="row">
    <div class="col center"><u>Technical Details</u></div>
</div>
<div class="row">
    <div class="col p-2">
        <div class="container about_container stardew_round_border">
            <div class="row">
                <div class="col col-lg-12 about_label center">Seed</div>
            </div>
            <div class="row">
                <div class="col col-lg-3 about_label">Category</div>
                <div class="col col-lg-9">#SEEDCAT#</div>
            </div>
            <div class="row">
                <div class="col-lg-3 about_label">Id</div>
                <div class="col col-lg-9">#SEEDID#</div>
            </div>
            <div class="row">
                <div class="col col-lg-3 about_label">Context Tags</div>
                <div class="col col-lg-9">#SEEDCONTEXT#</div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col p-2">
        <div class="container about_container stardew_round_border">

            <div class="row">
                <div class="col col-lg-12 about_label center">Crop</div>
            </div>
            <div class="row">
                <div class="col col-lg-3 about_label">Category</div>
                <div class="col col-lg-9">#PRODCAT#</div>
            </div>
            <div class="row">
                <div class="col col-lg-3 about_label">Id</div>
                <div class="col col-lg-9">#PRODID#</div>
            </div>
            <div class="row">
                <div class="col col-lg-3 about_label">Context Tags</div>
                <div class="col col-lg-9">#PRODCONTEXT#</div>
            </div>
        </div>
    </div>
</div>
