<div class="container p-2">
    <div class="row row-cols-4 row-cols-lg-12">
        <div class="col-4 col-lg-6">
            <div class="container">
                <div class="row">
                    <div class="col" style="font-size:28pt;text-align:left;">#NAME#</div>
                </div>
                <div class="row">
                    <div class="col" style="font-size:18pt; color:gray">#CATEGORY#</div>
                </div>
            </div>
        </div>
        <div class="col-2 col-lg-5 offset-lg-1"><img src="/asset?metaid=#METAID#" style="width:48px; padding-right:5px;" />&nbsp;#ADDBUTTON#</div>
    </div>
    <div class="row row-cols-4 row-cols-lg-12">
        <div class="col-4 col-lg-12 p-2" style="text-align:left;">#DESC#</div>
    </div>
    <div class="row row-cols-4 row-cols-lg-12">
        <div class="col-4 col-lg-12 p-2 center"><u>Crafting</u></div>
    </div>
    <div class="row row-cols-4 row-cols-lg-12">
        <div class="col-4 col-lg-12 p-2" style="text-align:left;">#CRAFTING#</div>
    </div>
    <div class="row row-cols-4 row-cols-lg-12">
        <div class="col-4 col-lg-12 p-2 center"><u>Used In</u></div>
    </div>
    <div class="row row-cols-4 row-cols-lg-12">
        <div class="col-4 col-lg-12 p-2" style="text-align:left;">#USEDIN#</div>
    </div>


    #WIKI#
    #TECHABOUT#
</div>
