<div class="row">
    <div class="col center"><u>Technical Details</u></div>
</div>
<div class="row">
    <div class="col p-2">
        <div class="container about_container stardew_round_border">
            <div class="row">
                <div class="col">Seed Id</div>
                <div class="col">#SEEDID#</div>
                <div class="col">Category</div>
                <div class="col">#SEEDCAT#</div>
            </div>
            <div class="row">
                <div class="col">Crop Id</div>
                <div class="col">#PRODID#</div>
                <div class="col">Category</div>
                <div class="col">#PRODCAT#</div>
            </div>
        </div>
    </div>
</div>
