<table class="stardew_table" style="">
    <tr><td class="skills_data"><img src="images/farming_skill_icon.png" class="skill_icon" /> #SKILLS.FARMING# #FARMING#</td></tr>
    <tr><td class="skills_data"><img src="images/mining_skill_icon.png" class="skill_icon" /> #SKILLS.MINING# #MINING#</td></tr>
    <tr><td class="skills_data"><img src="images/foraging_skill_icon.png" class="skill_icon" /> #SKILLS.FORAGING# #FORAGE#</td></tr>
    <tr><td class="skills_data"><img src="images/fishing_skill_icon.png" class="skill_icon" /> #SKILLS.FISHING# #FISH#</td></tr>
    <tr><td class="skills_data"><img src="images/combat_skill_icon.png" class="skill_icon" /> #SKILLS.COMBAT# #COMBAT#</td></tr>

</table>