<div style="background-image:url(/images/blank_old_paper.jpg); padding:10px;">
    <table>
        <tr>
            <td colspan="2" style="font-size:28pt;text-align:left;">#NAME#</td>

        </tr>
        <tr>
            <td colspan="2" style="text-align:left;">#DESC#</td>
        </tr>

        <tr>
            <td style="width:200px;text-align:left;padding-left:20px;vertical-align:top;">
                <table>
                    <tr>
                        <td>
                            <img src="/asset?objectid=#PRODID#&cat=Object" style="width:48px; height:48px;" />
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:left;padding-left:20px;">Id: #ID#</td>
                    </tr>
                </table>
            </td>
            <td style="vertical-align:top;">
                <table>
                    <tr>
                        <td>Ingredients</td>
                    </tr>
                    <tr>
                        <td>
                            #INGS#
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

    </table>
    <table class="stardew_table" style="width:100%;">
        <tr>
            <td class="stardew_label">Id</td>
            <td class="stardew_data">#ID#</td>
        </tr>
        <tr>
            <td class="stardew_label">Recipe Name</td>
            <td class="stardew_data">#NAME# <img src="/asset?objectid=#PRODID#&cat=Object" style="width:32px; height:32px;" /></td>
        </tr>
        <tr>
            <td class="stardew_label">Type</td>
            <td class="stardew_data">#TYPE#</td>
        </tr>
        <tr>
            <td class="stardew_label">Category</td>
            <td class="stardew_data">#CATEGORY#</td>
        </tr>
        <tr>
            <td class="stardew_label">Description</td>
            <td class="stardew_data">#DESC#</td>
        </tr>
        <tr>
            <td class="stardew_label">Requirments</td>
            <td class="stardew_data">#REQS#</td>
        </tr>
        <tr>
            <td class="stardew_label">Ingredients</td>
            <td class="stardew_data">#INGS#</td>
        </tr>
    </table>
</div>