


<div style="background-image:url(/images/blank_old_paper.jpg); padding:10px;background-size:cover;min-height:100%;">
    <table>
        <tr>
            <td colspan="2" style="font-size:28pt;text-align:left;">#NAME#</td>

        </tr>
        <tr>
            <td colspan="2" style="text-align:left;padding-bottom:10px;">#DESC#</td>
        </tr>

        <tr>
            <td style="width:200px;text-align:left;padding-left:20px;vertical-align:top;">
                <table>
                    <tr>
                        <td style="text-align:center;padding-bottom:20px;">
                            <img src="/asset?objectid=#NAME#&cat=Monsters" style="width:48px; height:48px; margin-left:auto;margin-right:auto;" />
                        </td>
                    </tr>
                    <tr>
                        <td class="center"><u>Id</u></td>
                    </tr>
                    <tr><td class="center">#ID#</td></tr>
                    <tr>
                        <td class="center"><u>Type</u></td>
                    </tr>
                    <tr>
                        <td class="center">#TYPE#</td>
                    </tr>
                    <tr>
                        <td class="center"><u>Eradications</u></td>
                    </tr>
                    <tr>
                        <td class="center">#ERADS#</td>
                    </tr>
                </table>

            </td>
            <td style="vertical-align:top; width:500px;">
                <table>


                    <tr>
                        <td colspan="2"><u>Details</u></td>
                    </tr>
                    <tr>
                        <td class="left" style="">Base HP</td>
                        <td>#BASEHP#</td>
                    </tr>
                    <tr>
                        <td class="left" style="">Base Damage</td>
                        <td>#BASEDAM#</td>
                    </tr>
                    <tr>
                        <td class="left" style="">Base Defense</td>
                        <td>#BASEDEF#</td>
                    </tr>
                    <tr>
                        <td class="left" style="">Speed</td>
                        <td>#SPEED#</td>
                    </tr>
                    <tr>
                        <td class="left" style="">Mine Monster</td>
                        <td>#MINE#</td>
                    </tr>
                    <tr>
                        <td><u>Drops</u></td>
                    </tr>
                    <tr>
                        <td class="left" style="padding-bottom:10px;">
                            #DROPS#
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

    </table>

</div>