<div class="row">
    <div class="col center"><u>Technical Details</u></div>
</div>
<div class="row">
    <div class="col p-2">
        <div class="container p-1 stardew_round_border" style="border: groove 2px black; background-color: burlywood;">
            <div class="row">
                <div class="col col-lg-2 about_label">DGA Id:</div>
                <div class="col col-lg-10 about_data">#DGAID#</div>
            </div>
            <div class="row">
                <div class="col col-lg-2 about_label">Category:</div>
                <div class="col col-lg-10 left about_data">#CAT# (#CATID#)</div>
            </div>  <div class="row">
                <div class="col-2 col-lg-3 about_label">Context Tags:</div>
                <div class="col-6 col-lg-6 about_data">#CONTEXT#</div>
            </div>
            <div class="row">
                <div class="col-2 col-lg-3 about_label">Source:</div>
                <div class="col-6 col-lg-6 about_data">#SOURCE#</div>
            </div>
        </div>
    </div>
</div>
