<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Name" Description="Description" ToolsVersion="15.0">
    <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
        <Rule Id="SA1306" Action="None" />
        <Rule Id="SA1309" Action="None" />
        <Rule Id="SA1633" Action="None" />
    </Rules>
</RuleSet>