<div class="container p-2">
    <div class="row row-cols-4 row-cols-lg-12">
        <div class="col-4 col-lg-4" style="font-size:28pt;text-align:left;">#NAME#</div>
        <div class="col-2 col-lg-4 offset-lg-4"><img src="/asset?metaid=#METAID#" style="width:48px; margin-left:auto;margin-right:auto;" />&nbsp;#ADDBUTTON#</div>
    </div>
    <div class="row row-cols-4 row-cols-lg-12">
        <div class="col-4 col-lg-12 p-2" style="text-align:left;">#DESC#</div>
    </div>
    <div class="row row-cols-4 row-cols-lg-12">
        <div class="col-4 col-lg-12">
            <div class="container">

              
                #WIKI#
                #TECHABOUT#
            </div>
        </div>
    </div>
</div>
