<!DOCTYPE html>
<html lang="en">
<head>
  
    #HEAD#
    <script src='/scripts/js-image-zoom.js'></script>
    <script>
        function LocalPageLoaded() {
            PageLoaded('Home');
            var options = {
                width: 720,
                zoomWidth :720,
                offset: {
                    vertical: 0,
                    horizontal: -720
                }
            };
            new ImageZoom(document.getElementById("img-container"), options);
        }
    </script>
</head>
<body onload="LocalPageLoaded();">
    #MENUBAR#


    <div class="stardew_container top_margin_50 med_bottom_pad">

        #PAGEBODY#
    </div>

</body>
</html>