<table class="stardew_table" style="">
    <tr>
        <td class=""><div class="message_board_title" style="width:510px;">Crafting Receipes (#NUMCOOKED#)</div></td>
        <td class=""><div class="message_board_title" style="width:510px;">Fishing (#NUMUNCOOKED#)</div></td>
        <td class=""><div class="message_board_title" style="width:510px;">Museum Pieces (#NUMUNKNOWN#)</div></td>
    </tr>
    <tr>
        <td class=""><div class="message_board base_font" style="display:block;width:510px;padding:15px 21px 16px 30px;"><div style="height:400px;overflow:auto;">#COOKED#</div></div></td>
        <td class=""><div class="message_board base_font" " style="display:block;width:510px;padding:15px 21px 16px 30px;"><div style="height:400px;overflow:auto;">#UNCOOKED#</div></div></td>
        <td class=""><div class="message_board base_font" " style="display:block;width:510px;padding:15px 21px 16px 30px;"><div style="height:400px;overflow:auto;">#UNKNOWN#</div></div></td>
    </tr>
</table>