<div class="container base_font_flex stardew_round_border color_top_columns_bg m-1">
    <div class="row">
        <div class="col">
            <u>Name:</u> #NAME#
        </div>
        <div class="col">
            <u>Mod Id:</u> #MODID#
        </div>
    </div>
    <div class="row">
        <div class="col">
            <u>Author:</u> #AUTHOR#
        </div>
        <div class="col">
            <u>CP For:</u> #CPFOR#
        </div>
    </div>
    <div class="row">
        <div class="col">
            <u>Description:</u> #DESC#
        </div>
        <div class="col">
            <u>Dependencies:</u> #DEPS#
        </div>
    </div>

</div>
