<div class="col col-lg-3 col-xxl-3 p-xxl-1" style="background-image: url(/images/cork-board-white.png); border: 2px solid brown; border-radius: 10px; ">
    <div class="container">
        <div class="row">
            <div class="col col-lg-3 col-xxl-3 p-0">
                <img src="/images/#MTYPEIMG#" style="width:60px; margin:auto;" />
                #FLAGS#
            </div>
            <div class="col col-lg-9 col-xxl-9">
                <table>
                    <tr>
                        <td style="height:22px;">#NAME#</td>
                    </tr>
                    <tr><td style="overflow:hidden; max-height: 68px; display:inline-block;">#DESC#</td></tr>
                </table>
            </div>
        </div>
    </div>
</div>
<!--
<div style="width:350px;height:120px; border: 2px solid brown; border-radius: 10px; display:inline-block; background-image: url(/images/cork-board-white.png); margin:5px;">
    <table>
        <tr>
            <td rowspan="2" style="padding:4px;" class="top"><img src="/images/#MTYPEIMG#" style="width:60px; margin:auto;" /></td>
            <td style="height:22px;">#NAME#</td>
        </tr>
        <tr><td style="overflow:hidden; height: 68px; display:inline-block;">#DESC#</td></tr>
    </table>
</div>
    -->
