# editorconfig.org
root = true

[*]
indent_style = tab
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false

[*.cs]
csharp_indent_switch_labels = false
csharp_space_after_cast = true
csharp_space_between_method_declaration_name_and_open_parenthesis = true
csharp_space_between_method_call_name_and_opening_parenthesis = true

dotnet_naming_symbols.static_members.applicable_kinds = event, field, method, property
dotnet_naming_symbols.static_members.applicable_accessibilities = *
dotnet_naming_symbols.static_members.required_modifiers = static
dotnet_naming_style.pascal_case.capitalization = pascal_case
dotnet_naming_rule.static_members_are_pascal_case.severity = suggestion
dotnet_naming_rule.static_members_are_pascal_case.symbols = static_members
dotnet_naming_rule.static_members_are_pascal_case.style = pascal_case

dotnet_naming_symbols.instance_members.applicable_kinds = event, field, method, property
dotnet_naming_symbols.instance_members.applicable_accessibilities = *
dotnet_naming_style.camel_case.capitalization = camel_case
dotnet_naming_rule.instance_members_are_camel_case.severity = suggestion
dotnet_naming_rule.instance_members_are_camel_case.symbols = instance_members
dotnet_naming_rule.instance_members_are_camel_case.style = camel_case
