<tr>
    <td class="stardew_data" style="vertical-align:top;">#ID#</td>
    <td>
        <table class="stardew_table" style="width:100%;">
            <tr>
                <td class="stardew_label">Direction</td>
                <td class="stardew_data">#DIRECTION#</td>


            </tr>
            <tr>
                <td class="stardew_label">End of Route Behaviour</td>
                <td class="stardew_data">#BEHAVIOUR#</td>
            </tr>
            <tr>
                <td class="stardew_label">End of Route Mesage</td>
                <td class="stardew_data">#MESSAGE#</td>
            </tr>
            <tr><td colspan="2" class="stardew_label">Route</td></tr>
            <tr>
                <td class="stardew_data" style="width:150px;" colspan="2"><div style="height:100px;overflow:auto;width:100%;">#ROUTE#</div></td>
            </tr>
        </table>
    </td>
</tr>