<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Harmony" version="0.3.0" targetFramework="net452" />
  <package id="Lib.Harmony" version="1.2.0.1" targetFramework="net452" />
  <package id="Pathoschild.Stardew.ModBuildConfig" version="2.2.0" targetFramework="net452" />
  <package id="Splat" version="1.6.2" targetFramework="net452" />
</packages>