<meta charset="utf-8">
<!--
<meta http-equiv="Content-Security-Policy" content="default-src  'self' 'unsafe-inline'; " />
    -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<!--
script-src 'self' 'unsafe-inline' ;  img-src 'self' ; style-src 'self' 'unsafe-inline' ; font-src 'self' ; frame-src 'self'; object-src 'none'">


<meta name="referrer" content="strict-origin-when-cross-origin">
       -->
<title>Stardew Valley on the Web</title>
<link rel="shortcut icon" href="/images/favicon.png" />
<link href='/css/bootstrap.min.css' rel='stylesheet'>
<link href='/css/stardew.css' rel='stylesheet'>
<script src="/scripts/jquery-3.6.0.min.js"></script>
<script src="/scripts/bootstrap.bundle.min.js"></script>
<script src="/scripts/popper.min.js"></script>
<script src='/scripts/stardewweb.js'></script>
