<div class="row">
    <div class="col-1">#PETPETTED#</div>
    <div class="col-6">Petted Pet</div>
</div>
<div class="row">
    <div class="col-1">#PETWATERED#</div>
    <div class="col-6">Pet Bowl Filled</div>
</div>
<div class="row">
    <div class="col-1">#MILKED#</div>
    <div class="col-6">Milk Cows/Goats</div>
</div>
<div class="row">
    <div class="col-1">#PETTED#</div>
    <div class="col-6">Animals Petted</div>
</div>
<div class="row">
    <div class="col-1">#CRABPOTCOLL#</div>
    <div class="col-6">Collect From and Bait Crab Pots</div>
</div>
<div class="row">
    <div class="col-1">#ANIMPRODS#</div>
    <div class="col-6">Collect Animal Products</div>
</div>
<div class="row">
    <div class="col-1">#WATERCROPS#</div>
    <div class="col-6">Water Crops</div>
</div>
<div class="row">
    <div class="col-1">#HARVESTCROPS#</div>
    <div class="col-6">Harvest Crops</div>
</div>
<div class="row">
    <div class="col-1">#MACHINEEMPTY#</div>
    <div class="col-6">Machines Emptied</div>
</div>
<div class="row">
    <div class="col-1">#PONDS#</div>
    <div class="col-6">Ponds Maintained</div>
</div>