

<table class="stardew_table" style="width: 100%;">
    <tr><td class=""><div class="message_board_title_full">Shipments (#TOTALSHIPPEDPERCENT# #TOTALSHIPPEDITEMS# of #TOTALSHIPPINGITEMS#)</div></td></tr>
    <tr>
        <td class="">
            <div class="message_board_full">
                <div style="height:600px;overflow:auto;">
                    <table class="stardew_table" style="width: 100%;">
                        <tr><td class="stardew_header">Fruits (#SHIPPEDFRUITSCNT# of #SHIPPEDFRUITSTOTAL#)</td></tr>
                        <tr><td class="stardew_row">#SHIPPEDFRUITS#</td></tr>
                    </table>

                    <table class="stardew_table" style="width: 100%;">
                        <tr><td class="stardew_header">Vegetables (#SHIPPEDVEGSCNT# of #SHIPPEDVEGSTOTAL#)</td></tr>
                        <tr><td class="stardew_row">#SHIPPEDVEGS#</td></tr>
                    </table>

                    <table class="stardew_table" style="width: 100%;">
                        <tr><td class="stardew_header">Artisan Goods (#SHIPPEDARTISANCNT# of #SHIPPEDARTISANTOTAL#)</td></tr>
                        <tr><td class="stardew_row">#SHIPPEDARTISAN#</td></tr>
                    </table>

                    <table class="stardew_table" style="width: 100%;">
                        <tr><td class="stardew_header">Flowers (#SHIPPEDFLOWERSCNT# of #SHIPPEDFLOWERSTOTAL#)</td></tr>
                        <tr><td class="stardew_row">#SHIPPEDFLOWERS#</td></tr>
                    </table>

                    <table class="stardew_table" style="width: 100%;">
                        <tr><td class="stardew_header">Foraging (#SHIPPEDFORAGECNT# of #SHIPPEDFORAGETOTAL#)</td></tr>
                        <tr><td class="stardew_row">#SHIPPEDFORAGE#</td></tr>
                    </table>

                    <table class="stardew_table" style="width: 100%;">
                        <tr><td class="stardew_header">Monster Loot (#SHIPPEDLOOTCNT# of #SHIPPEDLOOTTOTAL#)</td></tr>
                        <tr><td class="stardew_row">#SHIPPEDLOOT#</td></tr>
                    </table>

                    <table class="stardew_table" style="width: 100%;">
                        <tr><td class="stardew_header">Metals (#SHIPPEDMETALCNT# of #SHIPPEDMETALTOTAL#)</td></tr>
                        <tr><td class="stardew_row">#SHIPPEDMETAL#</td></tr>
                    </table>

                    <table class="stardew_table" style="width: 100%;">
                        <tr><td class="stardew_header">Other (#SHIPPEDOTHERCNT# of #SHIPPEDOTHERTOTAL#)</td></tr>
                        <tr><td class="stardew_row">#SHIPPEDOTHER#</td></tr>
                    </table>
                </div>
            </div>

        </td>
    </tr>
</table>
<!--
<table class="stardew_table" style="width: 100%;">
    <tr><td class="stardew_header">Fish Caught</td></tr>
    <tr><td class="stardew_row">#FISH#</td></tr>
</table>

    -->
