<div class="message_board_title_flex">Locations</div>
<div class="message_paper_board_flex">
    <div style="height:500px;overflow:auto;">
        <div style="max-height:500px;overflow:auto;width:100%;">
            <table class="table table-striped" style="width:100%;">
                <thead>
                    <tr>
                        <th class="fixed_header color_header_bg">Name</th>
                        <th class="fixed_header color_header_bg">Map Path</th>
                        <th class="fixed_header color_header_bg">Map Size</th>
                        <th class="fixed_header color_header_bg">Default Warp</th>
                        <th class="fixed_header color_header_bg"># of NPCs</th>
                        <th class="fixed_header color_header_bg">NPCs</th>
                    </tr>
                </thead>
                <tbody>
                    #ROWS#
                </tbody>

            </table>


        </div>
    </div>
</div>
