<table class="stardew_table" style="margin-left:auto;margin-right:auto;">
    <tr>
        <td><img src="/images/buildings/animal_shop.png" onclick="WarpStudio(1, 'marnie');" class="warp_building_image" /></td>
        <td><img src="/images/buildings/bait_shop.png" onclick="WarpStudio(1, 'willy');" class="warp_building_image" /></td>
        <td><img src="/images/buildings/blacksmiths_shop.png" onclick="WarpStudio(1, 'clint');" class="warp_building_image" /></td>
    </tr>
    <tr>
        <td><button class="warp_button" onclick="WarpStudio(1, 'marnie');">Animals</button></td>
        <td><button class="warp_button" onclick="WarpStudio(1, 'willy');">Bait Shop</button></td>
        <td><button class="warp_button" onclick="WarpStudio(1, 'clint');">Blacksmith</button></td>
    </tr>
    <tr>
        <td><img src="/images/buildings/bus_stop.png" onclick="WarpStudio(1, 'pam');" class="warp_building_image" /></td>
        <td><img src="/images/buildings/carpenter_shop.png" onclick="WarpStudio(1, 'robin');" class="warp_building_image" /></td>
        <td><img src="/images/buildings/desert_shop.png" onclick="WarpStudio(1, 'sandy');" class="warp_building_image" /></td>
    </tr>
    <tr>
        <td><button class="warp_button" onclick="WarpStudio(1, 'pam');">Bus Stop</button></td>
        <td><button class="warp_button" onclick="WarpStudio(1, 'robin');">Carpenter</button></td>
        <td><button class="warp_button" onclick="WarpStudio(1, 'sandy');">Desert</button></td>
    </tr>
    <tr>
        <td><img src="/images/buildings/mine_shop.png" onclick="WarpStudio(1, 'dwarf');" class="warp_building_image" /></td>
        <td><img src="/images/buildings/saloon.png" onclick="WarpStudio(1, 'gus');" class="warp_building_image" /></td>
        <td><img src="/images/buildings/seed_shop.png" onclick="WarpStudio(1, 'pierre');" class="warp_building_image" /></td>
    </tr>
    <tr>
        <td><button class="warp_button" onclick="WarpStudio(1, 'dwarf');">Mine</button></td>
        <td><button class="warp_button" onclick="WarpStudio(1, 'gus');">Saloon</button></td>
        <td><button class="warp_button" onclick="WarpStudio(1, 'pierre');">Seed Shop</button></td>
    </tr>
    <tr>
        <td><img src="/images/buildings/sewer_shop.png" onclick="WarpStudio(1, 'krobus');" class="warp_building_image" /></td>
        <td><img src="/images/buildings/wizard_shop.png" onclick="WarpStudio(1, 'wizard');" class="warp_building_image" /></td>
        <td></td>
    </tr>
    <tr>
        <td><button class="warp_button" onclick="WarpStudio(1, 'krobus');">Sewer</button></td>
        <td><button class="warp_button" onclick="WarpStudio(1, 'wizard');">Wizard</button></td>
        <td></td>

    </tr>
</table>