<table class="stardew_table">

    <tr>
        <td><button class="warp_button" onclick="WarpStudio(1, 'marnie');">Animals</button></td>
        <td><button class="warp_button" onclick="WarpStudio(1, 'willy');">Bait Shop</button></td>
        <td><button class="warp_button" onclick="WarpStudio(1, 'clint');">Blacksmith</button></td>
    </tr>
    <tr>
        <td><button class="warp_button" onclick="WarpStudio(1, 'pam');">Bus Stop</button></td>
        <td><button class="warp_button" onclick="WarpStudio(1, 'robin');">Carpenter</button></td>
        <td><button class="warp_button" onclick="WarpStudio(1, 'sandy');">Desert</button></td>
    </tr>
    <tr>
        <td><button class="warp_button" onclick="WarpStudio(1, 'dwarf');">Mine</button></td>
        <td><button class="warp_button" onclick="WarpStudio(1, 'gus');">Saloon</button></td>
        <td><button class="warp_button" onclick="WarpStudio(1, 'pierre');">Seed Shop</button></td>
    </tr>
    <tr>
        <td><button class="warp_button" onclick="WarpStudio(1, 'krobus');">Sewer</button></td>
        <td><button class="warp_button" onclick="WarpStudio(1, 'wizard');">Wizard</button></td>
        <td></td>

    </tr>
</table>