<div class="message_board_title_lg">Warp Studio</div>
<div class="message_board_title">NPCs</div>
<div class="message_board_title">Shops</div>
<div class="message_board_list">#NPCS#</div>
<div class="message_board_list">#SHOPS#</div>
<div class="message_board_title_lg">Player</div>
<div class="message_board_list_lg">
    <div style="width:100%;">
        #PLAYER#
    </div>
</div>

<div class="message_board_title_lg">Beam Me Up Scottie</div>
<div class="message_board_list_lg">
    <div style="height:400px;overflow:auto; width:100%;">
        #WARPS#
    </div>
</div>