<!DOCTYPE html>
<html lang="en">
<head>
    #HEAD#

</head>
<body onload="SubPageLoaded('Catalogue','catindex');">
    #MENUBAR#

    <div class="stardew_container top_margin_50 med_bottom_pad">
        <div class="container">
            <div class="message_board_title_flex">Stardew Valley - #PAGETITLE#</div>
            <div class="container p-2" style="background-color:white;">
                <div class="row">
                    <div class="col-1" style="position: fixed;">
                        <ul style="list-style-type: none; padding: 0; margin: 0;">
                            #CATEGORIES#
                        </ul>
                    </div>
                    <div class="col-11" style="padding-left:150px;min-height: 700px;">

                        #CONTENT#
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>