<div class="col-12 col-md-6 col-l-3 col-xl-3 col-xxl-3">
    <div class="container p-1 m-1" style="background-color:white;">
        <div class="row">
            <div class="col-2"><img loading="lazy" src="/asset?metaid=#METAID#" style="width:48px;margin-left:auto;margin-right:auto; cursor:pointer;" onclick="PopAndMetaSearch('#METAID#'); return false;" /></div>
            <div class="col-10">
                <div class="container">
                    <div class="row">
                        <div class="col catalog_prod_title" style="cursor: pointer; text-decoration: underline;" onclick="PopAndMetaSearch('#METAID#');">#PRODNAME#</div>
                    </div>
                    <div class="row">
                        <div class="col">#DESC#</div>
                    </div>
                    <div class="row">
                        <div class="col">#INGS#</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>