<!DOCTYPE html>
<html lang="en">
<head>
    #HEAD#

</head>
<body onload="SubPageLoaded('Catalogue','#TABNAME#');">
    #MENUBAR#

    <div class="stardew_container top_margin_50 med_bottom_pad">
        <div class="container">
            <div class="message_board_title_flex">Stardew Valley - #PAGETITLE#</div>
            <div class="container p-2" style="background-color:white;">
                <div class="row">
                    #CONTENT#
                </div>
            </div>
        </div>
    </div>
</body>
</html>