<div class="container color_top_columns_bg stardew_round_border base_font">
    <!--
    <div class="row">
        <div class="col-2">Name</div>
        <div class="col-9">#NAME#</div>
    </div>
    <div class="row">
        <div class="col-2">Description</div>
        <div class="col-9">#DESC#</div>
    </div>
            -->
    <div class="row">
        <div class="col-2">Produces</div>
        <div class="col-9">#QTYOUT#</div>
    </div>
    <div class="row">
        <div class="col-2">Ingredients</div>
        <div class="col-9">#INGS#</div>
    </div>
</div>