<div class="message_board_title_lg">Locations</div>
<div class="message_board_list_lg">
    <div style="height:500px;overflow:auto;">
        <div style="max-height:500px;overflow:auto;width:100%;">
            <table class="stardew_table" style="width:100%;">
                <thead>
                    <tr>
                        <th class="fixed_header stardew_header">Name</th>
                        <th class="fixed_header stardew_header">Map Path</th>
                        <th class="fixed_header stardew_header">Map Size (W x H)</th>
                        <th class="fixed_header stardew_header">Default Warp</th>
                        <th class="fixed_header stardew_header"># of NPCs</th>
                        <th class="fixed_header stardew_header">NPCs</th>
                    </tr>
                </thead>
                <tbody>
                    #ROWS#
                </tbody>

            </table>


        </div>
    </div>
</div>
