<div class="message_board_title_lg">Location Details</div>
<div class="message_board_list_lg">
    <table>
        <tr><td>Display Name</td><td>#DISPNAME#</td></tr>
        <tr><td>Name</td><td>#NAME#</td></tr>
        <tr><td colspan="2">#MAP#</td></tr>
        <tr><td colspan="2">NPCs</td></tr>
        <tr><td colspan="2">#NPCS#</td></tr>
        <tr><td colspan="2">Events</td></tr>
        <tr><td colspan="2">#EVENTS#</td></tr>
        <tr><td colspan="2">Fish</td></tr>
        <tr><td colspan="2">#FISH#</td></tr>
    </table>

</div>