<div class="message_board_lg">
    <table class="jojoa_cd_table">
        <tr>
            <td colspan="2" class="joja_cd_td">
                <table style="width:100%;">
                    <tr>
                        <td style="width220px;padding-left:20px;"><span class="jojacolor" style="font-size:28pt;">Joja</span></td>
                        <td class="jojacolor" style="text-align:center;">Community Development Projects</td>
                    </tr>
                    <tr><td class="jojacolor" style="font-size: 14px; padding-left:20px;">Join us. Thrive</td><td style="text-align:center;"><span style="text-decoration:underline;" class="jojacolor">&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:lightslategrey">Pelican Town</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></td></tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="joja_cd_td joja_cd_bottom"><table><tr><td><div class="joja_cd_checkbox">#BUS#</div></td><td class="joja_cd_projname">Bus</td><td class="joja_cd_space">......................</td><td>40000g</td></tr></table></td>
            <td class="joja_cd_td joja_cd_bottom"><table><tr><td><div class="joja_cd_checkbox">#CARTS#</div></td><td class="joja_cd_projname">Minecarts</td><td class="joja_cd_space">......................</td><td>15000g</td></tr></table></td>
        </tr>
        <tr>
            <td class="joja_cd_td joja_cd_bottom"><table><tr><td><div class="joja_cd_checkbox">#BRIDGE#</div></td><td class="joja_cd_projname">Bridge</td><td class="joja_cd_space">......................</td><td>25000g</td></tr></table></td>
            <td class="joja_cd_td joja_cd_bottom"><table><tr><td><div class="joja_cd_checkbox">#GREENHOUSE#</div></td><td class="joja_cd_projname">Greenhouse</td><td class="joja_cd_space">......................</td><td>35000g</td></tr></table></td>
        </tr>
        <tr>
            <td class="joja_cd_td"><table><tr><td><div class="joja_cd_checkbox">#PANNING#</div></td><td class="joja_cd_projname">Panning</td><td class="joja_cd_space">......................</td><td>25000g</td></tr></table></td>
            <td class="joja_cd_td jojacolor">Prepared by: <span style="text-decoration:underline">X&nbsp;&nbsp;&nbsp;<span style="color:lightslategrey;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Morris</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></td>
        </tr>
    </table>



</div>