<table class="stardew_table" style="width: 100%;">
    <tr>
        <td class="stardew_data">#DOOR# Community Center Door Unlocked</td>
        <td class="stardew_data">#JOJA# JojaMart Membership</td>
    </tr>
    <tr>
        <td class="stardew_data">#BOILER# Boiler Room (Reward: Minecarts repaired)</td>
        <td class="stardew_data">#BULLETIN# Bulletin Board (Reward: Friendship)</td>
    </tr>
    <tr>
        <td class="stardew_data">#CRAFTS# Crafts Room (Reward: Bridge Repair)</td>
        <td class="stardew_data">#FISH# Fish Tank (Reward: Glittering Boulder Removed)</td>
    </tr>
    <tr>
        <td class="stardew_data">#PANTRY# Pantry (Reward: Greenhouse)</td>
        <td class="stardew_data">#VAULT# Vault (Reward: Bus Repair)</td>
    </tr>
    <tr>
        <td class="stardew_data">#JOJAABD# Abandoned JojaMart (???)</td>
        <td></td>
    </tr>
</table>