body {
    background-color: #121212;   
    color: #fff; 
    font-family: Helvetica, "Arial", sans-serif;
    padding: 5em;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0.5em;
    margin-bottom: 0.1em;
}

ul, ol {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

li {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

h4 {
    font-weight: normal;
}

a, a:hover {
    color: #0080ff;
    text-decoration: none;
}

code, kbd {
    background: #0a0a0a;
    border: 2px solid #141414;
    border-radius: 0.5em;
    padding: 3px;
}

code {
    font-family: "Courier New", monospace;
}

kbd {
    box-shadow: 0 0.15em black;
    font-family: Helvetica, Arial, sans-serif;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid white;
    padding: 1em;
}

.text-1 {
    font-size: 12px;
}

.text-2 {
    font-size: 16px;
}

.compatible {
    background-color: #5d8a1a;
}

.unknown {
    background-color: #71bd00;
}

.incompatible {
    background-color: #ff0f0f;
}