<table>
    <tr>
        <td>
            <div class="message_board_title_full">Cooking Recipes (Gourmet Chef Achievement) <a href="/Custom/StardewWeb/Help/achieve_gourmet_chef.html"><img src="/images/icons/help_info.png" style="float:right;padding-right:10px;" /></a> </div>
        </td>
    </tr>
    <tr>
        <td style="padding-left: 35px;">
            #RECEIPETABLE#
        </td>
    </tr>
    <tr>
        <td>
            <div class="message_board_title_full">Crafting Receipes #CRAFTED# of #TOTALCRAFTING# (#CRAFTINGPERCENT#)</div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="message_board_full">
                #CRAFTINGTABLE#
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="message_board_title_full">Fishing #FISHCAUGHT# of #TOTALFISH# (#FISHPERCENT#)</div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="message_board_full">
                #FISHING#
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="message_board_title_full">Museum Pieces #FPIECES# of #TPIECES# (#MUSEUMPERCENT#)</div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="message_board_full">
                #MUSEUM#
            </div>
        </td>
    </tr>
</table>