<tr>
    <td>
        <div class="message_board_title_full">Crafting Receipes (Craft Master Achievement) #NUMCRAFTED# of #TOTALCRAFTING# (#CRAFTINGPERCENT#)<a href="/Custom/StardewWeb/Help/achieve_craft_master.html"><img src="/images/icons/help_info.png" style="float:right;padding-right:10px;" /></a></div>
    </td>
</tr>
<tr>
    <td>
        <div class="message_paper_board_full">
            <table class="stardew_table" style="width: 90%; margin-left:auto; margin-right:auto;">
                <tr><td class="stardew_header">Not Crafted (#NUMNOTCRAFTED#)</td></tr>
                <tr><td class="stardew_data">#NOTCRAFTED#</td></tr>
                <tr><td class="stardew_header">Crafted (#NUMCRAFTED#)</td></tr>
                <tr><td class="stardew_data">#CRAFTED#</td></tr>
            </table>
        </div>
    </td>
</tr>
