<div class="row">
    <div class="col p-2">
        <div style="padding:20px;" class="message_board_title_flex">Cooking Recipes (Gourmet Chef Achievement) <a href="/Custom/StardewWeb/Help/achieve_gourmet_chef.html"><img src="/images/icons/help_info.png" style="float:right;padding-right:30px;" /></a> </div>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <div class="message_board_title_flex">Unknown  (#NUMUNKNOWN#)</div>
    </div>
    <div class="col-4">
        <div class="message_board_title_flex">Un-cooked (#NUMUNCOOKED#)</div>
    </div>
    <div class="col-4">
        <div class="message_board_title_flex">Cooked (#NUMCOOKED#)</div>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <div class="message_paper_board_flex_nm base_font_flex" style="padding:20px;"><div style="height:400px;overflow:auto;">#UNKNOWN#</div></div>
    </div>
    <div class="col-4">
        <div class="message_paper_board_flex_nm base_font_flex" style="padding:20px;"><div style="height:400px;overflow:auto;">#UNCOOKED#</div></div>
    </div>
    <div class="col-4">
        <div class="message_paper_board_flex_nm base_font_flex" style="padding:20px;"><div style="height:400px;overflow:auto;">#COOKED#</div></div>
    </div>
</div>
