<div class="row" style="padding-top: 20px;">
    <div class="col-12 p-2">
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#family" aria-expanded="false" aria-controls="family">
            Toggle
        </button>&nbsp;Family
    </div>
</div>
<div class="collapse" id="family">
    <div class="row">
        <div class="col-12 color_top_columns_bg stardew_round_border p-2">
            <div style="height:400px;overflow:auto;">
                <div class="container">
                    <table>
                        <tr><td class="rouded_div">#PARENTS##PARTNERS##CHILDREN##SIBLINGS##KINFOLK#</td></tr>
                        <!--
                        <tr><td>Parents</td><td class="rouded_div">#PARENTS#</td></tr>
    <tr><td>Partners</td><td class="rouded_div">#PARTNERS#</td></tr>
    <tr><td>Children</td><td class="rouded_div">#CHILDREN#</td></tr>
    <tr><td>Siblings</td><td class="rouded_div">#SIBLINGS#</td></tr>
    <tr><td>Kinfolk</td><td class="rouded_div">#KINFOLK#</td></tr>
        -->
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>