<div class="message_paper_board_full base_font" style="padding-top:140px;padding-bottom:140px;">
    <div class="container">
        <div class="row color_top_columns_bg stardew_round_border">
            <div class="col-2 stardew_data_bs"><img src="/Asset?asset=FramedSprite%2f#NAME#" class="stardew_char_port" /></div>
            <div class="col-8">
                <div class="container">
                    <div class="row">
                        <div class="col-3 stardew_label_bs p-1 m-1">Name</div>
                        <div class="col-8 stardew_data_bs color_2nd_tier_bg stardew_round_border p-1 m-1">#NAME# #WIKI#</div>
                    </div>
                    <div class="row">
                        <div class="col-3 stardew_label_bs p-1 m-1">Friendship</div>
                        <div class="col-8 stardew_data_bs color_2nd_tier_bg stardew_round_border p-1 m-1">#HEARTS#</div>
                    </div>
                    <div class="row">
                        <div class="col-3 stardew_label_bs p-1 m-1">Gender</div>
                        <div class="col-8 stardew_data_bs color_2nd_tier_bg stardew_round_border p-1 m-1">#GENDER#</div>
                    </div>
                    <div class="row">
                        <div class="col-3 stardew_label_bs p-1 m-1">Birthday</div>
                        <div class="col-8 stardew_data_bs color_2nd_tier_bg stardew_round_border p-1 m-1">#BIRTHSEASON# #BIRTHDAY#</div>
                    </div>
                    <div class="row">
                        <div class="col-3 stardew_label_bs p-1 m-1">Status</div>
                        <div class="col-8 stardew_data_bs color_2nd_tier_bg stardew_round_border p-1 m-1">#STATUS#</div>
                    </div>
                    <div class="row">
                        <div class="col-3 stardew_label_bs p-1 m-1">Love Interest</div>
                        <div class="col-8 stardew_data_bs color_2nd_tier_bg stardew_round_border p-1 m-1">#LOVEINT#</div>
                    </div>
                    <div class="row">
                        <div class="col-3 stardew_label_bs p-1 m-1">Current Emote</div>
                        <div class="col-8 stardew_data_bs color_2nd_tier_bg stardew_round_border p-1 m-1"><img style="width:32px;height:32px;" src="/asset?emoteid=#EMOTE#&emoteindex=#EMOTEINDEX#" /></div>
                    </div>
                    <div class="row">
                        <div class="col-3 stardew_label_bs p-1 m-1">Current Location</div>
                        <div class="col-8 stardew_data_bs color_2nd_tier_bg stardew_round_border warp_link p-1 m-1"><span onclick="WarpTo('#LOCATION#',#LOCATIONX#,#LOCATIONY#); return false;">#LOCATION#&nbsp;(#LOCATIONX#,#LOCATIONY#)</span></div>
                    </div>
                </div>
            </div>
        </div>
        #SCHEDULE#
        #EVENTS#
        <div class="row">
            <div class="col-12 p-2">
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#gifts" aria-expanded="false" aria-controls="gifts">
                    Toggle
                </button>&nbsp;Gifts Given
            </div>
        </div>
        <div class="collapse" id="gifts">
            <div class="row">
                <div class="col-12 stardew_data_bs color_top_columns_bg stardew_round_border taste_div">#GIFTS#</div>
            </div>
            <div class="row">
                <div class="col-12 stardew_label_bs">Gift Tastes - Loves</div>
            </div>
            <div class="row">
                <div class="col-12 stardew_data_bs color_top_columns_bg stardew_round_border taste_div">#LOVES#</div>
            </div>
            <div class="row">
                <div class="col-12 stardew_label_bs">Gift Tastes - Likes</div>
            </div>
            <div class="row">
                <div class="col-12 stardew_data_bs color_top_columns_bg stardew_round_border taste_div">#LIKES#</div>
            </div>
            <div class="row">
                <div class="col-12 stardew_label_bs">Gift Tastes - Neutral</div>
            </div>
            <div class="row">
                <div class="col-12 stardew_data_bs color_top_columns_bg stardew_round_border taste_div">#NEUTRAL#</div>
            </div>
            <div class="row">
                <div class="col-12 stardew_label_bs">Gift Tastes - Dislike</div>
            </div>
            <div class="row">
                <div class="col-12 stardew_data_bs color_top_columns_bg stardew_round_border taste_div">#DISLIKES#</div>
            </div>
            <div class="row">
                <div class="col-12 stardew_label_bs">Gift Tastes - Hate</div>
            </div>
            <div class="row">
                <div class="col-12 stardew_data_bs color_top_columns_bg stardew_round_border taste_div">#HATES#</div>
            </div>
        </div>

        #FAMILY#
    </div>


</div>

        </div>


    </div>
</div>