<div class="message_board_title_flex">Event Details</div>
<div class="message_paper_board_flex base_font_flex">
    <div class="container">
        <div class="row">
            <div class="col-3 m-2 color_2nd_tier_label_bg">Event Id</div><div class="col-7 stardew_round_border m-2">#ID# #EBUTTON#</div>
        </div>
        <div class="row">
            <div class="col-3 m-2 color_2nd_tier_label_bg">Name</div><div class="col-7 stardew_round_border m-2">#NAME#</div>
        </div>
        <div class="row">
            <div class="col-3 m-2 color_2nd_tier_label_bg">Seen</div><div class="col-7 stardew_round_border m-2">#SEEN# #BUTTON#</div>
        </div>
        <div class="row">
            <div class="col-3 m-2 color_2nd_tier_label_bg">NPC</div><div class="col-7 stardew_round_border m-2"><a href="/Friends?id=#NPC#">#NPC#</a></div>
        </div>
        <div class="row">
            <div class="col-3 m-2 color_2nd_tier_label_bg">Location</div><div class="col-7 stardew_round_border m-2">#LOCATION#</div>
        </div>
        <div class="row">
            <div class="col-3 m-2 color_2nd_tier_label_bg">Results</div><div class="col-7 stardew_round_border m-2">#RESULTS#</div>
        </div>
        <div class="row">
            <div class="col-3 m-2 color_2nd_tier_label_bg">Conditions</div><div class="col-7 stardew_round_border m-2">#CONDITIONS#</div>
        </div>
        <div class="row">
            <div class="col-3 m-2 color_2nd_tier_label_bg">Can See</div><div class="col-7 stardew_round_border m-2">#CANSEE#</div>
        </div>
    </div>
</div>
