<!DOCTYPE html>
<html lang="en">
<head>
    #HEAD#
    <script>

        function RunMacro() {
            var sQuery = "macro " + document.getElementById("macros").value;
            RunDebugCommand(sQuery, "macroout");
        }

        function GetPlayerPos() {

            var sUrl = "/json/playerpos";
            var realTime = 1000;

            fetch(sUrl)
                .then(response => response.json())
                .then(data => {
                    document.getElementById("rt_loc").innerText = data.Location;
                    document.getElementById("rt_x").innerText = data.X;
                    document.getElementById("rt_y").innerText = data.Y;
                    document.getElementById("rt_fa").innerText = data.FishArea;
                    setTimeout(GetPlayerPos, realTime);
                }).catch(function (err) {
                    document.getElementById("rt_loc").value = 'Error: ' + err;
                    setTimeout(GetPlayerPos, realTime);
                });
        }
        function GetMacroDetails() {

            var macroId = document.getElementById("macros").value;

            var sUrl = "/Utils/macros/load/" + macroId;


            fetch(sUrl).then(function (response) {
                return response.text();
            }).then(function (string) {
                document.getElementById("macrotext").value = string;
            }).catch(function (err) {
                document.getElementById("macrotext").value = 'Error: ' + err;
            });

        }

        function SaveMacro() {

            var macroId = document.getElementById("macros").value;
            var sUrl = "/Utils/macros/save/" + macroId;
            var sContent = document.getElementById("macrotext").value;

            const requestOptions = {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ script: sContent, scriptId: macroId })
            };
            fetch(sUrl, requestOptions)
                .then(response => response.json())
                .then(data => { });
        }

        function AddMacro() {

            var macroId = document.getElementById("newMacro").value;
            var sUrl = "/Utils/macros/add/" + macroId;
            var sContent = document.getElementById("macrotext").value;

            const requestOptions = {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ script: sContent, scriptId: macroId })
            };
            fetch(sUrl, requestOptions)
                .then(response => response.json())
                .then(data => UpdateMacroList(data, macroId));
        }

        function DeleteMacro() {

            var macroId = document.getElementById("macros").value;

            if (confirm("Confirm, delete macro '" + macroId + "'?")) {
                var sUrl = "/Utils/macros/delete/" + macroId;

                fetch(sUrl).then(function (response) {
                    return response.json();
                }).then(function (data) {
                    UpdateMacroList(data, "");
                }).catch(function (err) {
                    document.getElementById("macrotext").innerHTML = 'Error: ' + err;
                });
            }
        }

        function ClearMacro() {
            document.getElementById("macrotext").innerText = "";
        }

        function UpdateMacroList(options, selected) {
            var macros = document.getElementById("macros");
            macros.options.length = 0;
            var jsonData = JSON.parse(options);
            for (var child in jsonData) {
                macros.appendChild(new Option(jsonData[child], jsonData[child]));
            }
            if (selected != "") {
                macros.value = selected;
            }
            GetMacroDetails();
        }

        function LocalPageLoaded() {
            GetMacroDetails();
            GetPlayerPos();
            SubPageLoaded('Utilities', 'Macros');
        }
    </script>
</head>
<body onload="LocalPageLoaded();">
    #MENUBAR#
    <div class="stardew_container top_margin_50 med_bottom_pad">
        #CONTENT#
    </div>
</body>
</html>