/*************************************************
**
** You're viewing a file in the SMAPI mod dump, which contains a copy of every open-source SMAPI mod
** for queries and analysis.
**
** This is *not* the original file, and not necessarily the latest version.
** Source repository: https://github.com/evfredericksen/StardewSpeak
**
*************************************************/

certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
cmake==3.27.7
comtypes==1.2.0
decorator==5.1.1
dfly-breathe==0.2.4
dragonfly @ git+https://github.com/dictation-toolbox/dragonfly.git@d564c2945ec4de1bd5505fd40fecbe4722c33584
idna==3.6
json-rpc==1.15.0
kaldi-active-grammar==3.1.0
lark-parser==0.8.9
MarkupSafe==2.1.3
numpy==1.26.2
packaging==23.2
pycparser==2.21
pyperclip==1.8.2
pywin32==306
regex==2023.10.3
requests==2.31.0
setuptools==69.0.2
six==1.16.0
sounddevice==0.4.6
srabuilder @ git+https://github.com/evfredericksen/srabuilder.git@df091f3ace2e4adebfa0bb5bdeb39505734cfecd
urllib3==2.1.0
ush==3.1.0
webrtcvad-wheels==2.0.11.post1
Werkzeug==3.0.1