<table>
    <tr>
        <td><div class="message_board_title">Mailbox</div></td>
        <td><div class="message_board_title">Letter</div></td>
    </tr>
    <tr>
        <td class="top">
            <div class="message_cork_board" style="display:inline-block;padding:25px 25px 25px 30px;">
                <div style="width:100%;min-height:300px;max-height:600px;overflow:auto; padding:10px; color: bisque;" class="base_font">#MAIL#</div>
            </div>
        </td>
        <td class="top">
            <div class="message_paper_board" style="display:inline-block;padding:13px 25px 15px 30px;">
                <div style="width:100%;min-height:300px; max-height:600px;overflow:auto; padding:10px; color: black;" class="base_font">#LETTER#</div>
                <div style="padding:10px 20px 10px 20px;">#BUTTONS#</div>
            </div>
        </td>
    </tr>
</table>