<table>
    <tr>
        <td><div class="message_board_title">Summary</div></td>
        <td></td>
    </tr>
    <tr>
        <td class="top">
            <div class="message_paper_board base_font">
                <table class="stardew_table" style="width:100%;">
                    <tr>
                        <td class="stardew_label right">
                            Save Name
                        </td>
                        <td class="stardew_data">
                            #SAVENAME#
                        </td>
                    </tr>
                    <tr>
                        <td class="stardew_label right">
                            Farmer
                        </td>
                        <td class="stardew_data">
                            #FARMERNAME#
                        </td>
                    </tr>
                    <tr>
                        <td class="stardew_label right">
                            Hours Played
                        </td>
                        <td class="stardew_data">
                            #HOURSPLAYED#
                        </td>
                    </tr>
                    <tr>
                        <td class="stardew_label right">
                            Game Days Played
                        </td>
                        <td class="stardew_data">
                            #GAMEDAYS#
                        </td>
                    </tr>
                    <tr>
                        <td class="stardew_label right">
                            Farm Name
                        </td>
                        <td class="stardew_data">
                            #FARMNAME#
                        </td>
                    </tr>

                    <tr>
                        <td class="stardew_label right">Spawn Monsters At Night</td>
                        <td class="stardew_data">#NIGHTMONSTERS#</td>
                    </tr>

                    <tr>
                        <td class="stardew_label right">Multi-Player</td>
                        <td class="stardew_data">#ISMULTI#</td>
                    </tr>
                    <tr>
                        <td class="stardew_label right">Farmers</td>
                        <td class="stardew_data">#FARMERCOUNT#</td>
                    </tr>

                </table>
            </div>
        </td>
        <td class="top">
        </td>
    </tr>

</table>
#SAVEISSUES#