<div class="message_board_title_lg" style=" width: 1400px;">Today</div>
<div class="message_paper_board_lg base_font" style="padding-bottom:60px; width: 1400px;">
    <div style="width:100%;">
        <table style="width:100%;">
            <tr>
                <td style="padding-top:35px; vertical-align:top;">
                    <div class="message_board_title"><div style="width:100%; padding:10px;">In The News</div></div>
                    <div class="message_cork_board" style="display:inline-block;padding:20px 25px 10px 25px;">
                        <div style="width:100%;max-height:300px;overflow:auto; padding:10px; color: bisque;">#NEWS#</div>
                    </div>
                    <div class="message_board_title">Farm Chores</div>
                    <div class="message_cork_board" style="display:inline-block;padding:10px 25px 10px 25px;">
                        <div style="width:100%;max-height:300px;overflow:auto; padding:10px; color: bisque;">#TODO#</div>
                    </div>
                    <div class="message_board_title">Events</div>
                    <div class="message_cork_board" style="display:inline-block;padding:13px 25px 15px 30px;">
                        <div style="width:100%;max-height:300px;overflow:auto; padding:10px; color: bisque;">#EVENTS#</div>
                    </div>
                    <div class="message_board_title">New Mail<div style="float:right; padding-right: 30px;"><a href="/home/mailbox"><img src="/images/icons/mailbox.png?34567" style="width:64px;" title="Mailbox" /></a></div> </div>
                    <div class="message_cork_board" style="display:inline-block;padding:13px 25px 15px 30px;">
                        <div style="width:100%;max-height:200px;overflow:auto; padding:10px; color: bisque;">#MAIL#</div>
                    </div>
                 </td>
                <td style="padding-top:35px; margin-left:20px; width: 560px; vertical-align:top;">
                    #CALENDAR#
                    <br />
                    <div class="message_board_title">Weather</div>
                    <div class="message_board_list" style="display:inline-block;padding:5px 25px 5px 25px;"><div style="background-image: url(/asset/weather_bg.png);background-repeat:no-repeat;background-size:cover; width:100%;max-height:300px;overflow:auto; padding:10px;">#WEATHER#</div></div>
                    <div class="message_board_title">Crop Almanac</div>
                    <div class="message_board_list" style="display:inline-block;padding:10px 25px 10px 25px;"><div style="background-color:white; width:100%;max-height:300px;overflow:auto; padding:10px;">#CROPS#</div></div>
                    <div class="message_board_title">Fish Almanac</div>
                    <div class="message_board_list" style="display:inline-block;padding:10px 25px 10px 25px;"><div style="background-color:white; width:100%;max-height:300px;overflow:auto; padding:10px;">#FISH#</div></div>

                    <!--
        <div style="width:100%; display:inline-block;border:2px solid black; padding:10px; border-radius: 10px; background-color:white; max-height:350px;overflow:auto;">#CROPS#</div>

    </div>
        <br />

        <div style="width:100%; display:inline-block;border:2px solid black; padding:10px; border-radius: 10px; background-color:white; max-height:350px;overflow:auto;">#FISH#</div>
                            -->
                </td>
            </tr>
        </table>
    </div>
</div>