<!DOCTYPE html>
<html lang="en">
<head>
    #HEAD#
    <script>

        function LocalPageLoaded() {
            var input = document.getElementById("searchbox");

            input.addEventListener("keyup", function (event) {
                if (event.keyCode === 13) {
                    event.preventDefault();
                    Search();
                }
            });
            SubPageLoaded('Farm', 'Inventory');
            FetchData('');
        }


        function FetchData(sQuery) {

            var sUrl = '/Inventory?query=' + sQuery;
            fetch(sUrl)
                .then(response => {
                    if (response.ok) {
                        response.json().then(data => {
                            document.getElementById('results').innerHTML = data.HTML;
                            document.getElementById('alphabar').innerHTML = data.AlphaBar;
                            var sTemplate = '<div class="" role="tooltip"><div class=""></div><div class="tooltip-inner bs_tooltip_div"></div></div>';
                            $('[data-bs-toggle="tooltip"]').tooltip({ html: true,  sanitize: false, template: sTemplate,placement:'right',offset: [10,10] });
                        });
                    } else document.getElementById('results').innerHTML = 'Network response was not ok.';
                })
                .catch(error =>
                    document.getElementById('results').innerHTML = 'Fetch error: ' + error
                );


        }

        function Search() {
            FetchData(document.getElementById("searchbox").value)
        }


    </script>
</head>
<body onload="LocalPageLoaded('Inventory');">
    #MENUBAR#

    <div class="stardew_container top_margin_50 med_bottom_pad">

        #CONTENT#
    </div>

</body>
</html>