<td class="chest_cell" style="" draggable="false">
    <div ondragover="allowDrop(event)" draggable="false" id="#CELLID#" ondrop="drop(event, this)" onclick="PopAndMetaSearch('#METAID#');" style="width: 100%; height: 100%; z-index: 2">
        <img id="#ITEMID#" src="/asset?metaid=#METAID#" style="height: 48px; z-index:1;" ondragstart="drag(event,this.parentNode)" ondragenter="dragenter(event, this.parentNode)" ondragleave="dragleave(event, this.parentNode)" /><br />
        <div id="#ITEMID#" ondragstart="drag(event,this.parentNode)" draggable="#DRAGGABLE#" ondragenter="dragenter(event,this.parentNode)" ondragleave="dragleave(event, this.parentNode)" style="cursor: move; font-size: 24pt; color: white; ">
            #QTY#<br />
            #QUALITY#
        </div>
    </div>
</td>