<div class="message_board_title_lg">Crop Writer</div>
<div class="message_paper_board_flex">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="container">
                    <div class="row">
                        <div class="col">1. Stand at the top left corner of where you want your lettering or image to start.</div>
                    </div>
                    <div class="row" style="padding-top:20px;">
                        <div class="col-6 crop_writer_label right">Location</div>
                        <div class="col-6 ">#LOCATION#</div>
                    </div>
                    <div class="row">
                        <div class="col-6 crop_writer_label right">Position</div>
                        <div class="col-6">#POS#</div>
                    </div>
                    <div class="row">
                        <div class="col-6 crop_writer_label right">Map Size</div>
                        <div class="col-6">#MAPSIZE#</div>
                    </div>
                    <div class="row">
                        <div class="col-6 crop_writer_label right">Can Write Here?</div>
                        <div class="col-6">#HERE#</div>
                    </div>

                </div>
            </div>
            <div class="col-8">
                <div class="container">
                    <div class="row">
                        <div class="col">2. Enter text or upload an image.</div>
                    </div>
                    <div class="row" style="padding-top:15px;">
                        <div class="col-2 crop_writer_label right">Text</div>
                        <div class="col-6"><input type="text" width="40" id="texttowrite" /></div>
                        <div class="col-4"><= text to be drawn.</div>
                    </div>
                    <div class="row">
                        <div class="col-2 crop_writer_label right">Font</div>
                        <div class="col-6"><select id="font">#FONTS#</select></div>
                    </div>
                    <div class="row">
                        <div class="col offset-md-4" style="padding-top:15px; padding-bottom:15px;">
                            OR
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2 crop_writer_label right">Image</div>
                        <div class="col-6"><button onclick="ClearFile();">Clear</button><input type="file" id="myFile" name="filename"></div>
                        <div class="col-4"><= upload a black-and-white image (JPG or PNG) to be drawn on the Farm. The image must be smaller than the Map Size.</div>
                    </div>
                    <div class="row" style="padding-top:15px; padding-bottom: 15px;">
                        <div class="col">3. Select the details of how the text/image is to be drawn.</div>
                    </div>

                    <div class="row" style="padding-top:10px;">
                        <div class="col-2 crop_writer_label right">Fill Item</div>
                        <div class="col-6"><select id="fill">#FILLS#</select></div>
                        <div class="col-4 crop_writer_help"><= This item will be used as the background for the letters or white for pictures.</div>
                    </div>
                    <div class="row">
                        <div class="col-2 crop_writer_label right">Stroke Item</div>
                        <div class="col-6"><select id="stroke">#STROKES#</select></div>
                        <div class="col-4 crop_writer_help"><= This item will be used as the pen stroke for the letters or black for pictures.</div>
                    </div>
                    <div class="row">
                        <div class="col-2 crop_writer_label right">Hoe Dirt</div>
                        <div class="col-6"><input type="checkbox" id="dirt" /></div>
                        <div class="col-4 crop_writer_help"><= Hoe dirt even if no fill or stroke item is selected.</div>
                    </div>
                    <div class="row">
                        <div class="col-2 crop_writer_label right">Mature Crops</div>
                        <div class="col-6"><input type="checkbox" id="mature" /></div>
                        <div class="col-4"><= Instantly mature the crops used for lettering.</div>
                    </div>
                    <div class="row" style="padding-top:15px;">
                        <div class="col">4. Press Draw and check in Stardew to see what you have created.</div>
                    </div>
                    <div class="row" style="padding-top:20px;">
                        <div class="col-5 offset-md-2"><button onclick="WritText();">Draw</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
