<div class="message_board_title_flex">In Season Crops</div>
<div class="message_paper_board_flex base_font_flex">
    <div style="height:600px;overflow:auto;">
        <table class="stardew_table">
            <thead>
                <tr>
                    <th class="stardew_header fixed_header">Crop Name</th>
                    <th class="stardew_header fixed_header">Crop Type</th>
                    <th class="stardew_header fixed_header">Seed Name</th>
                    <th class="stardew_header fixed_header">Seed Vendor</th>
                    <th class="stardew_header fixed_header">Seed Price</th>
                    <th class="stardew_header fixed_header">Scythe</th>
                    <th class="stardew_header fixed_header">Trellis</th>
                    <th class="stardew_header fixed_header">Crop Value</th>
                    <th class="stardew_header fixed_header">Grow Days</th>
                    <th class="stardew_header fixed_header">Regrow Days</th>
                    <th class="stardew_header fixed_header">Max Harvest</th>
                    <th class="stardew_header fixed_header">Crops Per Season</th>
                    <th class="stardew_header fixed_header">Profit Per Season</th>
                    <th class="stardew_header fixed_header"># of Seasons</th>
                    <th class="stardew_header fixed_header">Total Annual Profit</th>
                </tr>
            </thead>
            <tbody>
                #ROWS#
            </tbody>
        </table>
    </div>
</div>