<div class="message_board_title_lg">Fruits and Vegetables</div>
<div class="message_board_lg">
    <div style="max-height:300px; overflow:auto;">
        <table class="stardew_table" style="width: 100%;">
            <thead>
                <tr>
                    <th class="stardew_header fixed_header">Crop Name</th>
                    <th class="stardew_header fixed_header">Locations</th>
                    <th class="stardew_header fixed_header">Quantity</th>
                </tr>
            </thead>
            <tbody>
                #ROWS#
            </tbody>
        </table>
    </div>
</div>
<div class="message_board_title_lg">Livestock</div>
<div class="message_board_lg">
    <div style="max-height:300px; overflow:auto;">
        <table class="stardew_table" style="width: 100%;">
            <thead>
                <tr>
                    <th class="stardew_header fixed_header">Animal</th>
                    <th class="stardew_header fixed_header">Locations</th>
                    <th class="stardew_header fixed_header">Quantity</th>
                </tr>
            </thead>
            <tbody>
                #ANIMALROWS#
            </tbody>
        </table>
    </div>
</div>
<div class="message_board_title_lg">Animal Buildings</div>
<div class="message_board_lg">
    <div style="max-height:300px; overflow:auto;">
        <table class="stardew_table" style="width: 100%;">
            <thead>
                <tr>
                    <th class="stardew_header fixed_header">Building</th>
                    <th class="stardew_header fixed_header">Maximum Capacity</th>
                    <th class="stardew_header fixed_header">Current Occupancy</th>
                </tr>
            </thead>
            <tbody>
                #BUILDINGROWS#
            </tbody>
        </table>
    </div>
</div>
<div class="message_board_title_lg">Machines</div>
<div class="message_board_lg">
    <div style="max-height:300px; overflow:auto;">
        <table class="stardew_table" style="width: 100%;">
            <thead>
                <tr>
                    <th class="stardew_header fixed_header">Machine</th>
                    <th class="stardew_header fixed_header">Location</th>
                    <th class="stardew_header fixed_header">Producing</th>
                    <th class="stardew_header fixed_header">Completion Time</th>
                </tr>
            </thead>
            <tbody>
                #MACHINEROW#
            </tbody>
        </table>
    </div>
</div>

