<tr>
    <td class="left">#NAME#</td>
    <td class="left">#TYPE#</td>
    <td class="left">#SEED#</td>
    <td class="left">#VENDOR#</td>
    <td class="right">#PRICE#</td>
    <td class="center">#SCYTHE#</td>
    <td class="center">#TRELLIS#</td>
    <td class="right">#VALUE#</td>
    <td class="center">#GROW#</td>
    <td class="center">#REGROW#</td>
    <td class="center">#MAX#</td>
    <td class="center">#CROPSPERSEASON#</td>
    <td class="right">#PROFITPERSEASON#</td>
    <td class="center">#NUMSEASONS#</td>
    <td class="right">#TOTALPROFIT#</td>
</tr>
