<div class="message_board_title_flex">Livestock Details</div>
<div class="message_paper_board_flex" style="font-family: Tahoma; font-size: 12pt; padding: 20px 55px 20px 55px;">
    <div style="max-height:600px; overflow:auto; background-color: white;">
        <table class="table table-striped table-hover" style="width: 100%;">
            <thead>
                <tr>
                    <th class="modern_col_header fixed_header" scope="col">Type</th>
                    <th class="modern_col_header fixed_header" scope="col">Name</th>
                    <th class="modern_col_header fixed_header" scope="col">Home</th>
                    <th class="modern_col_header fixed_header" scope="col">Happiness</th>
                    <th class="modern_col_header fixed_header" scope="col">Petted</th>
                    <th class="modern_col_header fixed_header" scope="col">Fed</th>
                    <th class="modern_col_header fixed_header" scope="col">Heater</th>
                    <th class="modern_col_header fixed_header" scope="col">Friendship</th>
                    <th class="modern_col_header fixed_header" scope="col">Sell</th>

                </tr>
            </thead>
            <tbody>
                #ANIMALROWS#
            </tbody>
        </table>
    </div>
</div>