<div class="row">
    <div class="col-12">
        <div class="message_board_title_flex">Grid Status</div>
        <div class="message_paper_board_flex base_font_flex">
            <div style="height:400px;overflow:auto;">
                #GRIDS#
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="message_board_title_flex">Water Devices</div>
        <div class="message_paper_board_flex base_font_flex">
            <div style="height:400px;overflow:auto;">
                #PUMPS#
            </div>
        </div>
    </div>
    </div>
<div class="row">
    <div class="col-12">
        <div class="message_board_title_flex">Power Devices</div>
        <div class="message_paper_board_flex base_font_flex">
            <div style="height:400px;overflow:auto;">
                #GENS#
            </div>
        </div>
    </div>
</div>