<tr>
    <td class="planning_late left">#NAME#</td>
    <td class="planning_late left">#TYPE#</td>
    <td class="planning_late left">#SEED#</td>
    <td class="planning_late left">#VENDOR#</td>
    <td class="planning_late right">#PRICE#</td>
    <td class="planning_late center">#SCYTHE#</td>
    <td class="planning_late center">#TRELLIS#</td>
    <td class="planning_late right">#VALUE#</td>
    <td class="planning_late center">#GROW#</td>
    <td class="planning_late center">#REGROW#</td>
    <td class="planning_late center">#MAX#</td>
    <td class="planning_late center">#CROPSPERSEASON#</td>
    <td class="planning_late right">#PROFITPERSEASON#</td>
    <td class="planning_late center">#NUMSEASONS#</td>
    <td class="planning_late right">#TOTALPROFIT#</td>
</tr>
