<div class="message_board_title_flex">Livestock</div>
<div class="message_paper_board_flex base_font_flex">
    <div style="max-height:300px; overflow:auto;">
        <table class="stardew_table" style="width: 100%;">
            <thead>
                <tr>
                    <th class="stardew_header fixed_header">Animal</th>
                    <th class="stardew_header fixed_header">Quantity</th>
                    <th class="stardew_header fixed_header">Locations</th>
                </tr>
            </thead>
            <tbody>
                #ANIMALROWS#
            </tbody>
        </table>
    </div>
</div>

<div class="message_board_title_flex">Animal Buildings</div>
<div class="message_paper_board_flex base_font_flex">
    <div style="max-height:300px; overflow:auto;">
        <table class="stardew_table" style="width: 100%;">
            <thead>
                <tr>
                    <th class="stardew_header fixed_header">Building</th>
                    <th class="stardew_header fixed_header">Maximum Capacity</th>
                    <th class="stardew_header fixed_header">Current Occupancy</th>
                </tr>
            </thead>
            <tbody>
                #BUILDINGROWS#
            </tbody>
        </table>
    </div>
</div>
<div class="message_board_title_flex">Homeless Livestock</div>
<div class="message_paper_board_flex base_font_flex">
    <div style="max-height:300px; overflow:auto;">
        <table class="stardew_table" style="width: 100%;">
            <thead>
                <tr>
                    <th class="stardew_header fixed_header">Animal</th>
                    <th class="stardew_header fixed_header">Locations</th>
                    <th class="stardew_header fixed_header">Quantity</th>
                </tr>
            </thead>
            <tbody>
                #HOMELESSROWS#
            </tbody>
        </table>
    </div>
</div>