<div class="message_board_title_lg">Fruits and Vegetables</div>
<div class="message_paper_board_lg base_font">
    <div style="max-height:400px; overflow:auto;">
        <table class="stardew_table" style="width: 100%;">
            <thead>
                <tr>
                    <th class="stardew_header fixed_header" rowspan="2">Crop Name</th>
                    <th class="stardew_header fixed_header"  rowspan="2">Locations</th>
                    <th class="stardew_header fixed_header" colspan="2">Quantity</th>
                </tr>
                <tr>
                    <th class="stardew_header fixed_header">Growing</th>
                    <th class="stardew_header fixed_header">Ready</th>
                </tr>
            </thead>
            <tbody>
                #ROWS#
            </tbody>
        </table>
    </div>
</div>
<div class="message_board_title_lg">Harvest Schedule</div>
<div class="message_paper_board_lg base_font">
    <div style="max-height:400px; overflow:auto;">
        <table class="stardew_table" style="width: 100%;">
            <thead>
                <tr>
#HARVESTHEAD#
                </tr>
            </thead>
            <tbody>
                #HARVESTROWS#
            </tbody>
        </table>
    </div>
</div>