<table class="stardew_table" style="width:100%;">
    <tr><td class="no_border stardew_data">#Slimes#</td><td class="no_border stardew_data">#VoidSpirits#</td></tr>
    <tr><td class="no_border stardew_data">#Bats#</td><td class="no_border stardew_data">#Skeletons#</td></tr>
    <tr><td class="no_border stardew_data">#CaveInsects#</td><td class="no_border stardew_data">#Duggies#</td></tr>
    <tr><td class="no_border stardew_data">#DustSprites#</td><td class="no_border stardew_data">#RockCrabs#</td></tr>
    <tr><td class="no_border stardew_data">#Mummies#</td><td class="no_border stardew_data">#PepperRex#</td></tr>
    <tr><td class="no_border stardew_data">#Serpent#</td><td class="no_border stardew_data">#MagmaSprite#</td></tr>
</table>