<div class="message_board_title_lg">Farmer Stats</div>
<div style="display:table">
    <div style="display:table-row">
        <div class="message_board_title" style="display:table-cell;">Skills</div>
        <div class="message_board_title" style="display:table-cell;">Achievements</div>
    </div>
    <div style="display:table-row">
        <div class="message_cork_board_list" style="display:table-cell; vertical-align:top;padding-left:20px;padding-right:20px;">

            #SKILLS#
        </div>
        <div class="message_cork_board_list" style=""><div style="overflow:auto;height: 200px;">#ACHIEVEMENTS#</div></div>
    </div>
</div>

<div style="display:table">
    <div style="display:table-row">
        <div class="message_board_title" style="display:table-cell;">Perfection Tracker</div>
        <div class="message_board_title" style="display:table-cell;">Guild Goals</div>
    </div>

    <div style="display:table-row">
        <div class="message_cork_board_list" style="display:table-cell;color:bisque;">#TRACKER#</div>
        <div class="message_cork_board_list" style="display:table-cell;">#GUILD#</div>
    </div>
</div>
<br />


<div style="display:table">
    <div style="display:table-row">
        <div class="message_board_title_lg" style="display:table-cell;">General Trivia</div>
    </div>
    <div style="display:table-row">
        <div class="message_board_lg" style="display:table-cell;">
            <table class="stardew_table" style="margin-left:auto; margin-right:auto;">
                #STATROWS#
            </table>
        </div>
    </div>
</div>
