<!DOCTYPE html>
<html lang="en">
<head>
    #HEAD#
    <script>

        function LocalPageLoaded() {
            var input = document.getElementById("dcom");

            input.addEventListener("keyup", function (event) {
                if (event.keyCode === 13) {
                    event.preventDefault();
                    SendDebug();
                }
            });
           SubPageLoaded('Modder_Utils','Console');
        }

        function SendDebug() {
            var sQuery = document.getElementById("dcom").value
            RunDebugCommand(sQuery, "dout");
        }

   
    </script>
</head>
<body onload="LocalPageLoaded();">
    #MENUBAR#

    <div class="stardew_container top_margin_50 med_bottom_pad">
        #CONTENT#
    </div>

</body>
</html>