<div class="message_board_title_lg">
    Warps
</div>
<div class="message_paper_board_flex base_font_flex"style="width:100%;">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="" style="">X</th>
                <th class="" style="">Y</th>
                <th class="" style="">Destination</th>
                <th class="" style="">Destination X</th>
                <th class="" style="">Destination Y</th>
            </tr>
        </thead>
        #ROWS#
    </table>
</div>