<div class="container row-cols-sm-1 m-0 p-0">
    <div class="row">
        <div class="col">
            <div class="message_board_title_flex">NPCs</div>
            <div class="row">
                <div class="col">
                    <div class="message_paper_board_flex base_font_flex">
                        #NPCS#
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="message_board_title_flex">Animals</div>
            <div class="message_paper_board_flex base_font_flex">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="">Name</th>
                            <th class="">Type</th>
                            <th class="">Happiness</th>
                            <th class="">Petted</th>
                            <th class="">Home</th>
                        </tr>
                    </thead>
                    #ANIMALS#

                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="message_board_title_flex">Buildings</div>
        </div>
        <div class="col-6">
            <div class="message_board_title_flex">Objects</div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="message_paper_board_flex">
                #BUILDINGS#
            </div>
        </div>
        <div class="col-6">
            <div class="message_paper_board_flex">
                #OBJECTS#
            </div>
        </div>
    </div>
</div>
