
<div class="message_board_title_lg">Map Info</div>
<div class="container message_paper_board_flex">
    <div class="container base_font_flex">
        <div class="row">
            <div class="col-3 color_top_columns_bg m-1">Location Name</div>
            <div class="col-3 stardew_round_border m-1">#NAME#</div>
            <div class="col-2 color_top_columns_bg m-1">Source</div>
            <div class="col-3 stardew_round_border m-1">#SOURCE#</div>
        </div>
        <div class="row">
            <div class="col-3 color_top_columns_bg m-1">Nice Name</div>
            <div class="col-3 stardew_round_border m-1">#NICENAME#</div>
            <div class="col-2 color_top_columns_bg m-1">Type</div>
            <div class="col-3 stardew_round_border m-1">#LOCTYPE#</div>
        </div>
        <div class="row">
            <div class="col-3 color_top_columns_bg m-1">Map Id</div>
            <div class="col-3 stardew_round_border m-1">#MAPID#</div>
            <div class="col-2 color_top_columns_bg m-1">Season Override</div>
            <div class="col-3 stardew_round_border m-1">#OVERRIDE#</div>
        </div>
        <div class="row">
            <div class="col-3 color_top_columns_bg m-1">Is Outdoors?</div>
            <div class="col-3 stardew_round_border m-1">#ISOUTDOORS#</div>
            <div class="col-2 color_top_columns_bg m-1">Is Farm?</div>
            <div class="col-3 stardew_round_border m-1">#ISFARM#</div>
        </div>
        <div class="row">
            <div class="col-3 color_top_columns_bg m-1">Map Path</div>
            <div class="col-3 stardew_round_border m-1">#PATH#</div>
            <div class="col-2 color_top_columns_bg m-1">Doors</div>
            <div class="col-3 stardew_round_border m-1">#DOORCT#</div>
        </div>
        <div class="row">
            <div class="col-3 color_top_columns_bg m-1">Map Description</div>
            <div class="col-3 stardew_round_border m-1">#MAPDESC#</div>
            <div class="col-2 color_top_columns_bg m-1">Layers</div>
            <div class="col-3 stardew_round_border m-1">#LAYERS#</div>
        </div>
        <div class="row">
            <div class="col-3 color_top_columns_bg m-1">Music</div>
            <div class="col-3 stardew_round_border m-1">#MUSICTRACK#</div>
            <div class="col-2 color_top_columns_bg m-1">Dimensions</div>
            <div class="col-3 stardew_round_border m-1">#DIMS#</div>
        </div>
        <div class="row">
            <div class="col-3 color_top_columns_bg m-1">Properties</div>
            <div class="col-8 stardew_round_border m-1" style="padding-left:30px;">#PROPS#</div>
        </div>
        <div class="row">
            <div class="col-3 color_top_columns_bg m-1">Mod Data</div>
            <div class="col-8 stardew_round_border m-1" style="padding-left:30px;">#MODDATA#</div>
        </div>
    </div>

</div>
<div class="message_board_title_lg">Tilesheets</div>
<div class="container message_paper_board_flex">
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="base_font_flex" scope="col">Name</th>
                    <th class="base_font_flex" scope="col">Image Source</th>
                    <th class="base_font_flex" scope="col">Tile Size</th>
                    <th class="base_font_flex" scope="col">Sheet</th>
                </tr>
            </thead>
            <tbody>
                #TILESHEETS#
            </tbody>
        </table>
    </div>
</div>
