<div class="row">
    <div class="col-12">
        <div class="message_board_title_flex">Animal Details</div>
    </div>
</div>
<div class="message_paper_board_flex base_font_flex">
    <div class="row">
        <div class="col">
            Name
        </div>
        <div class="col">
            #NAME#
        </div>
        <div class="col">
            Animal Type
        </div>
        <div class="col">
            #ANITYPE#
        </div>
    </div>
    <div class="row">
        <div class="col">
            Type of Building Lives In
        </div>
        <div class="col">
            #HOMETYPE#
        </div>
        <div class="col">
            Sells For
        </div>
        <div class="col">
            #SELL#
        </div>
    </div>
    <div class="row">
        <div class="col">
            Petted
        </div>
        <div class="col">
            #PETTED#
        </div>
        <div class="col">
            Owner
        </div>
        <div class="col">
            #OWNER#
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="message_board_title_flex">
            Vital Stats
        </div>
    </div>
</div>
<div class="message_paper_board_flex base_font_flex">
    <div class="row">
        <div class="col">
            Happiness
        </div>
        <div class="col">
            #HAPPYBAR#
        </div>
        <div class="col">
            Mood Today
        </div>
        <div class="col">
            #MOOD#
        </div>
    </div>
    <div class="row">
        <div class="col">
            Growth
        </div>
        <div class="col">
            #GROWTH#
        </div>
        <div class="col">
            Age
        </div>
        <div class="col">
            #AGE#
        </div>
    </div>
    <div class="row">
        <div class="col">
            Days Owned
        </div>
        <div class="col">
            #DAYSOWNED#
        </div>
        <div class="col">

        </div>
        <div class="col">

        </div>
    </div>
    <div class="row">
        <div class="col">
            Friendship (Max 255)
        </div>
        <div class="col">
            #FSHIP#
        </div>
        <div class="col">
            Allow Reproduction
        </div>
        <div class="col">
            #ALLOWREPRO#
        </div>
    </div>
    <div class="row">
        <div class="col">
            Age When Mature
        </div>
        <div class="col">
            #MATURE#
        </div>
        <div class="col">
            Days Til Production
        </div>
        <div class="col">
            #TILPROD#
        </div>
    </div>
    <div class="row">
        <div class="col">
            Days Since Fed
        </div>
        <div class="col">
            #LASTFEED#
        </div>
        <div class="col">
            Days Since Last Lay
        </div>
        <div class="col">
            #LASTLAY#
        </div>
    </div>
</div>