<div class="message_board_title_lg">Farm Mechanics</div>
<div class="message_paper_board_lg base_font inline">
    <table>
        <tr>
            <td style="vertical-align:top;">
                <div style="border:2px solid black; border-radius: 10px;padding: 5px; background: tan;margin-left:10px;">
                    <table>
                        <tr>
                            <td class="mechanics_cell">Season</td>
                            <td class="mechanics_cell">
                                <select id="SEASON">
                                    <option value="spring">spring</option>
                                    <option value="summer">summer</option>
                                    <option value="fall">fall</option>
                                    <option value="winter">winter</option>
                                </select>
                            </td>
                            <td class="mechanics_cell"><button onclick="SetSeason();">Set</button></td>
                        </tr>

                        <tr>
                            <td class="mechanics_cell">Year</td>
                            <td class="mechanics_cell">
                                <input type="text" id="YEAR" size="3" />
                            </td>
                            <td class="mechanics_cell"><button onclick="SetYear();">Set</button></td>
                        </tr>

                        <tr>
                            <td class="mechanics_cell">Day</td>
                            <td class="mechanics_cell">
                                <input type="text" id="DATE" size="3" />
                            </td>
                            <td class="mechanics_cell"><button onclick="SetDate();">Set</button></td>
                        </tr>
                        <tr>
                            <td class="mechanics_cell">Time</td>
                            <td class="mechanics_cell">
                                <input type="text" id="TIME" size="4" placeholder="1200" />
                            </td>
                            <td class="mechanics_cell"><button onclick="SetTime();">Set</button></td>
                        </tr>
                        <tr>
                            <td class="mechanics_cell">Weather</td>
                            <td class="mechanics_cell" colspan="2"><button onclick="RunDebugCommand('rain',null);">Toggle Rain</button></td>
                        </tr>
                    </table>
                </div>
                <br />
                <div style="border:2px solid black; border-radius: 10px;padding: 5px; background: tan;margin-left:10px;">
                    <table style="width:100%;">
                        <tr><td class="center">Farm House</td></tr>
                        <tr><td class="center"><button onclick="RunDebugCommand('upgradehouse', 'popup');">Upgrade</button></td></tr>
                    </table>
                </div>
            </td>
            <td style="width:40px;">&nbsp;</td>
            <td>
                <div style="border:2px solid black; border-radius: 10px;padding: 5px; background: tan; margin-right:10px;">
                    <table>
                        <tr><td class="mechanics_cell right"><button onclick="ClearFarm();">Clear Farm</button></td><td class="mechanics_cell">Clears all crops, drebris and trees from the Farm.</td></tr>
                        <tr><td class="mechanics_cell right"><button onclick="ClearBuildings();">Clear Buildings</button></td><td class="mechanics_cell">Clears all Buildings and the animals in them from the Farm.</td></tr>
                        <tr>
                            <td class="mechanics_cell right">
                                <select id="BUILDING">
                                    #OPTIONS#
                                </select>
                                <button onclick="Build();">Build</button>
                            </td>
                            <td class="mechanics_cell">Builds the selected building where the Farmer is currently located.</td>
                        </tr>
                        <tr>
                            <td class="mechanics_cell right" style="width:230px;">
                                <select id="FARMTYPE">
                                    <option value="Small">Small Farm</option>
                                    <option value="Fish">Fish Farm</option>
                                    <option value="BigFarm">Big Farm</option>
                                </select>
                                <button onclick="SetupFarm();">Build</button>
                            </td>
                            <td class="mechanics_cell">Clears everything on the Farm and setups a new Farm.</td>
                        </tr>
                        <tr>
                            <td class="mechanics_cell right" style="width:230px;">
                                <select id="ANIMALTYPE">
                                    #ANIMALS#

                                </select>
                                <button onclick="AddAnimal();">Add</button>
                            </td>
                            <td class="mechanics_cell">Adds the selected Animal to the Aniamlhouse the Farmer is currently in.</td>
                        </tr>
                        <tr>
                            <td class="mechanics_cell right top"><button onclick="RunDebugCommand('matureall', 'popup');">Mature All Crops</button></td>
                            <td class="mechanics_cell">
                                Matures all crops and trees on the Farm. <br /><u>Note:</u> if you
                                are in the Farm map when you push this button, you will have to exit the Farm and come back to see the full effect.
                            </td>
                        </tr>
                        <tr>
                            <td class="mechanics_cell right top"><button onclick="RunDebugCommand('activatesprinklers', 'popup');">Activate Sprinklers</button></td>
                            <td class="mechanics_cell">
                                Activates all sprinklers on the Farm. This is the first version, so it looks a little funny if you are on the Farm at the time of watering.
                            </td>
                        </tr>
                        <tr>
                            <td class="mechanics_cell right top"><button onclick="RunDebugCommand('petall', 'popup');">Pet Animals</button></td>
                            <td class="mechanics_cell">
                                Pets all of the livestock on the Farm.
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
    <br />
    <table>
        <tr>
            <td class="mechanics_cell" style="padding-top:15px;"><button onclick="RunDebugCommand('train','popup');">Spawn Train</button></td>
            <td class="mechanics_cell"><button onclick="RunDebugCommand('everythingshop', 'popup');">Open Everything Shop</button></td>
            <td class="mechanics_cell"><button onclick="RunDebugCommand('phone', 'popup');">Phone</button></td>
        </tr>
    </table>
    <div class="warning_div">Warning, as with any fiddling with the game from the backend, care should be taken when using these options.</div>
</div>